/*
Heatmap colors copied from GH, because GH does not load them on every page #5637
Original file: https://github.githubassets.com/assets/code-d21b20a03009.css
These colors are for normally-gray text.
*/

:root [data-rgh-heat="1"] {
	color: #c24e00 !important;
}
:root [data-rgh-heat="2"] {
	color: #ac571f !important;
}
:root [data-rgh-heat="3"] {
	color: #a35b2c !important;
}
:root [data-rgh-heat="4"] {
	color: #9a5f38 !important;
}
:root [data-rgh-heat="5"] {
	color: #926245 !important;
}
:root [data-rgh-heat="6"] {
	color: #896651 !important;
}
:root [data-rgh-heat="7"] {
	color: #806a5e !important;
}
:root [data-rgh-heat="8"] {
	color: #776d6a !important;
}
:root [data-rgh-heat="9"] {
	color: #6e7177 !important;
}
:root [data-rgh-heat="10"] {
	color: #6a737d !important;
}
