/*
Heatmap colors copied from GH, because GH does not load them on every page #5637
Original file: https://github.githubassets.com/assets/code-d21b20a03009.css
These colors are for normally-gray text.
*/

:root {
	--rgh-heat-color-deg: 29deg;
}

:root [data-rgh-heat='1'] {
	color: hsl(var(--rgh-heat-color-deg) 100% 38%) !important;
}

:root [data-rgh-heat='2'] {
	color: hsl(var(--rgh-heat-color-deg) 69% 40%) !important;
}

:root [data-rgh-heat='3'] {
	color: hsl(var(--rgh-heat-color-deg) 57% 41%) !important;
}

:root [data-rgh-heat='4'] {
	color: hsl(var(--rgh-heat-color-deg) 47% 41%) !important;
}

:root [data-rgh-heat='5'] {
	color: hsl(var(--rgh-heat-color-deg) 36% 42%) !important;
}

:root [data-rgh-heat='6'] {
	color: hsl(var(--rgh-heat-color-deg) 26% 43%) !important;
}

:root [data-rgh-heat='7'] {
	color: hsl(var(--rgh-heat-color-deg) 15% 44%) !important;
}

:root [data-rgh-heat='8'] {
	color: hsl(var(--rgh-heat-color-deg) 6% 44%) !important;
}

:root [data-rgh-heat='9'] {
	color: hsl(var(--rgh-heat-color-deg) 4% 45%) !important;
}

:root [data-rgh-heat='10'] {
	color: hsl(var(--rgh-heat-color-deg) 2% 45%) !important;
}
