.subscribe-feed {
	display: none !important;
}

/* allow for absolute positioning relative to the dashboard */
#dashboard,
.orgpage > .container {
	position: relative !important;
}

#dashboard .new-repo {
	display: none !important;
}

/* remove "Repositories you contribute to" dashboard sidebar box */
.dashboard-sidebar > .boxed-group[role="navigation"]:not(.repos) {
	display: none !important;
}

/* remove the toolbar from the right repo box on the dashboard */
.dashboard-sidebar .user-repos > h3,
.dashboard-sidebar .user-repos > .boxed-group-action {
	display: none !important;
}
.dashboard-sidebar .user-repos .boxed-group-inner {
	border-radius: 3px !important;
}
.dashboard-sidebar .user-repos .filter-repos {
	border-top-left-radius: 3px !important;
	border-top-right-radius: 3px !important;
}
.dashboard-sidebar .user-repos .repo-icon {
	opacity: 0.6 !important;
}

/* remove border between dashboard news items */
.news .alert {
	border: 0 !important;
}

/* remove tooltips */
.tooltipped:before,
.tooltipped:after {
	display: none !important;
}

/* fade out the file icons */
.file-wrap .files .octicon {
	opacity: 0.6;
}

/* remove annoying hover in the repo file list */
.file-wrap .files .navigation-focus td {
	background: none !important;
}

#readme > h3 {
	display: none !important;
}

#readme .markdown-body {
	border-radius: 3px !important;
	border-radius: 3px !important;
}

.paginate-protip {
	display: none !important;
}

.site-footer {
	visibility: hidden;
}

/* remove useless message on the right side of the PR merge box */
.alt-merge-options {
	display: none !important;
}

/* remove top buttons on comment box */
.timeline-comment-wrapper .tabnav-extra, .inline-comment-form-container .tabnav-extra {
	display: none !important;
}

/* remove commentbox toolbar */
.toolbar-commenting {
	display: none !important;
}

/* remove upload message on comment box */
.write-content .drag-and-drop {
	display: none !important;
}
.upload-enabled textarea {
	border-bottom: 1px solid #ccc !important;
	border-radius: 3px !important;
}

/* remove random protip at the bottom of the page */
.protip {
	display: none !important;
}

/* remove message under the `Unsubscribe` button */
.sidebar-notifications .reason {
	display: none !important;
}

/* move the dashboard organization switcher to the right column */
.account-switcher {
	position: absolute !important;
	right: 10px !important;
	margin-top: 0 !important;
}
.account-switcher button {
	width: 313px !important;
	z-index: 0 !important;
}
.user-repos {
	position: relative !important;
	top: 50px !important;
}
/* organization dashboard */
.orgpage .pagehead-nav {
	float: left !important;
}
.orgpage .account-switcher {
	right: 0 !important;
}
.orgpage .user-repos {
	position: static !important;
}
#org_your_repos {
	top: 0 !important;
}

/* remove "New pull request" button on repo page */
.file-navigation a[href$="/pull/new/master"] {
	display: none !important;
}

/* add hover underline for `content.js` linkified branch refs in pull requests */
.commit-ref:hover,
.commit-ref:hover span {
	text-decoration: underline !important;
}

/* remove the "new feature" notification box */
.js-notice {
	display: none !important;
}

/* hide jobs ads from the dashboard */
.github-jobs-promotion {
	display: none !important;
}

/* remove useless tip in the organization news feed */
#dashboard .alert.git_hub {
	display: none !important;
}

/* remove Upload files button; drag and drop is available anyway */
.file-navigation a[href$="/upload"] {
	display: none !important;
}
