.subscribe-feed {
	display: none !important;
}

/* Allow for absolute positioning relative to the dashboard */
#dashboard,
.orgpage > .container {
	position: relative !important;
}

#dashboard .new-repo {
	display: none !important;
}

/* Remove "Repositories you contribute to" dashboard sidebar box */
.dashboard-sidebar > .boxed-group[role="navigation"]:not(.repos) {
	display: none !important;
}

/* Remove the toolbar from the right repo box on the dashboard */
.dashboard-sidebar .user-repos > h3,
.dashboard-sidebar .user-repos > .boxed-group-action {
	display: none !important;
}
.dashboard-sidebar .user-repos .boxed-group-inner {
	border-radius: 3px !important;
}
.dashboard-sidebar .user-repos .filter-repos {
	border-top-left-radius: 3px !important;
	border-top-right-radius: 3px !important;
}
.dashboard-sidebar .user-repos .repo-icon {
	opacity: 0.6 !important;
}

/* Remove border between dashboard news items */
.news .alert {
	border: 0 !important;
}

/* Remove news feed tips */
.news form + .text-center {
	display: none !important;
}

/* Remove tooltips */
.tooltipped:not(.reaction-summary-item,.avatar-group-item,.avatar):before,
.tooltipped:not(.reaction-summary-item,.avatar-group-item,.avatar):after {
	display: none !important;
}

/* Fade out the file icons */
.file-wrap .files .octicon {
	opacity: 0.6;
}

/* Remove annoying hover in the repo file list */
.file-wrap .files .navigation-focus td {
	background: none !important;
}

#readme > h3 {
	display: none !important;
}

#readme .markdown-body {
	border-radius: 3px !important;
	border-radius: 3px !important;
}

.paginate-protip {
	display: none !important;
}

.site-footer {
	visibility: hidden;
}

/* Remove useless message on the right side of the PR merge box */
.alt-merge-options {
	display: none !important;
}

/* Remove top buttons on comment box */
.timeline-comment-wrapper .tabnav-extra, .inline-comment-form-container .tabnav-extra {
	display: none !important;
}

/* Remove commentbox toolbar */
.toolbar-group {
	display: none;
	margin-left: 0 !important;
}
.toolbar-group:last-child {
	display: inline-block;
}
.toolbar-group .toolbar-item {
	display: none;
}
.toolbar-group .js-saved-reply-container,
.toolbar-group .refined-github-upload-btn {
	display: block;
}
.toolbar-commenting {
	margin-top: 4px;
}

.refined-github-upload-btn {
	cursor: pointer;
}

/* Remove upload message on comment box */
.write-content .drag-and-drop {
	display: none !important;
}
.upload-enabled textarea {
	border-bottom: 1px solid #ccc !important;
	border-radius: 3px !important;
}
.upload-enabled textarea:focus {
	border-bottom: 1px solid #2188ff !important;
}

/* Remove random protip at the bottom of the page */
.protip {
	display: none !important;
}

/* Remove message under the `Unsubscribe` button */
.sidebar-notifications .reason {
	display: none !important;
}

/* Move the dashboard organization switcher to the right column */
.page-dashboard .account-switcher {
	position: absolute !important;
	right: 10px !important;
	margin-top: 0 !important;
}
.page-dashboard .account-switcher button {
	width: 313px !important;
	z-index: 0 !important;
}
.page-dashboard .account-switcher .select-menu-button-gravatar {
	float: none !important;
	display: inline-block !important;
	vertical-align: top !important;
}
.dashboard-sidebar {
	padding-top: 50px;
}
/* Organization dashboard */
.orgpage .underline-nav {
	float: left !important;
}
.orgpage .account-switcher {
	right: 0 !important;
}
.orgpage .user-repos {
	position: static !important;
}
.orgpage + .container .dashboard-sidebar {
	padding-top: 0;
}

/* Remove "New pull request" button on repo page */
.file-navigation .new-pull-request-btn {
	display: none !important;
}

/* Add hover underline for `content.js` linkified branch refs in pull requests */
a .commit-ref:hover,
a .commit-ref:hover span {
	text-decoration: underline !important;
}

/* Remove the "new feature" notification box */
.dashboard-sidebar .octofication {
	display: none !important;
}

/* Remove useless tip in the organization news feed */
#dashboard .alert.git_hub {
	display: none !important;
}

/* Remove Upload files button; drag and drop is available anyway */
.file-navigation a[href*="/upload/"] {
	display: none !important;
}

/* Style for edit README button */
#readme.blob #refined-github-readme-buttons {
	display: none;
}

#refined-github-readme-buttons {
	position: absolute;
	top: 10px;
	right: 10px;
}

#refined-github-readme-buttons a {
	opacity: 0.2;
	transition: opacity 250ms;
	text-decoration: none;
}

#refined-github-readme-buttons a:hover {
	opacity: 1;
}

#refined-github-readme-buttons a:not(:first-child) {
	margin-left: 5px;
}

/* Style for delete fork link */
.post-merge-message {
	min-height: 85px;
}

#refined-github-delete-fork-link {
	position: absolute;
	top: 45px;
	right: 30px;
	padding: 10px 10px 0;
}

#refined-github-delete-fork-link a {
	color: #df3e3e;
}

/* Hide news items when people:
pushed to a branch
deleted a branch
added someone as a collaborator
forked a repo
*/
.news .alert.push,
.news .alert.delete.simple,
.news .member_add,
.news .alert.fork.simple {
	display: none !important;
}

/* Ensure the news feed is still shown once the items above have been hidden */
.news {
	min-height: 1px;
}

/*
Remove padding from body of simple news alerts in Dashboard since some will be hidden
we will add it back on for the simple news alerts we decide to show
*/
.news .alert.create.simple,
.news .alert.create.simple .body {
	padding-top: 0;
	padding-bottom: 0;
}

/* Add padding back to the contents of simple news alerts in Dashboard */
.news .alert.create.simple .body .title,
.news .alert.create.simple .body .time {
	padding-top: 1em;
	padding-bottom: 1em;
}

/* Don't show contents of simple news alert in Dashboard when you create a branch */
.news .alert.create.simple .octicon-git-branch,
.news .alert.create.simple .octicon-git-branch + .title,
.news .alert.create.simple .octicon-git-branch + .title + .time {
	display: none;
}

/* Increase visibility of news item when someone stars a repo */
.watch_started.simple .body {
	min-height: 55px;
}

svg.octicon.octicon-star.dashboard-event-icon {
	height: 32px !important;
	width: 28px !important;
}

.watch_started .time {
	position: absolute;
	top: 10px;
	left: 45px;
}

.watch_started.simple.alert .simple .title {
	position: absolute;
	top: 26px;
	font-size: 14px !important;
	font-weight: bold;
	color: inherit !important;
}

/* Created repository style in dashboard */
.news .create.simple.alert .body {
	min-height: 69px;
}

svg.octicon.octicon-repo.dashboard-event-icon {
	height: 32px !important;
	width: 28px !important;
}

.create.simple.alert .simple .title {
	position: absolute;
	top: 10px;
	font-size: 14px !important;
	font-weight: bold;
	color: inherit !important;
}

.create.simple.alert .simple .time {
	position: absolute;
	top: -2px;
	left: 45px;
}

/* Decrease font-size on commit details so our custom patch and diff links fit */
.commit .sha-block {
	margin-left: 7px !important;
}
.commit .sha-block,
.commit .sha {
	font-size: 10px !important;
}
.signed-commit-badge-medium {
	padding: 2px 4px !important;
	font-size: 10px !important;
	margin-left: 5px !important;
}

/* Remove `Developer Program Member` from profile page */
.page-profile .member-badge {
	display: none !important;
}

/* Fade out merge commits from commit list */
.refined-github-merge-commit .commit-title {
	font-size: 12px !important;
	margin-top: 4px !important;
}

.refined-github-merge-commit .commit-author-section {
	font-size: 11.4px !important;
}

.refined-github-merge-commit .commit-avatar-cell svg {
	color: #4078c0;
	margin-left: 9px;
}

.refined-github-merge-commit .avatar-parent-child img.avatar-child {
	width: 16px !important;
	height: 16px !important;
}

/* Hide current filename in PR header when not sticky (top of page) */
.js-sticky-offset-scroll:not(.is-stuck) .diff-toolbar-filename {
	display: none;
}

.js-sticky-offset-scroll.is-stuck .subset-files-tab,
.js-sticky-offset-scroll.is-stuck .stale-files-tab {
	width: 120%;
	text-align: center;
	margin-top: 5px;
	margin-left: -11%;
}

.diff-toolbar-filename {
	font-weight: bold;
}

.diff-toolbar-filename.filename-width-check {
	visibility: hidden;
	position: absolute;
}

/* Limit width of commit title and description inputs to 50/80 chars */
#commit-summary-input, #commit-description-textarea {
	font-family: monospace !important;
}

#commit-summary-input {
	width: 410px !important;
}

#commit-description-textarea {
	width: 645px !important;
}

/* Make tab indented code more readable on GitHub and Gist */
.tab-size[data-tab-size='2'],
.tab-size[data-tab-size='4'],
.tab-size[data-tab-size='8'],
.inline-review-comment,
.gist table.lines,
.highlight pre, /* Readme code blocks */
.blob-code-inner /* PR inline diff */ {
	-moz-tab-size: 4 !important;
	tab-size: 4 !important;
}

/* Larger comment box */
.comment-form-textarea {
	min-height: 200px !important;
}

/* Styles for avatars Refined GitHub adds to Reactions */
.participants-container {
	margin-left: 4px;
}

.reaction-summary-item {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.reaction-summary-item.add-reaction-btn {
	padding-right: 0 !important;
}

.reaction-summary-item div,
.reaction-summary-item div a,
.reaction-summary-item div img {
	display: inline-block;
}

.reaction-summary-item div a {
	margin-left: -2px;
	transition: margin-left 0.2s;
}

.reaction-summary-item div img,
.reaction-summary-item div span {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.reaction-summary-item div img {
	color: #FFF; /* affects box-shadow */
	box-shadow: 0 0 0 2px;
	border-radius: 3px;
}

.reaction-summary-item.user-has-reacted div img {
	color: #f2f8fa;
}

/* Overlap reaction avatars when there are 5+ types of reactions */
.reaction-summary-item:first-child:nth-last-child(n+5):not(:hover) a:nth-child(n+2),
.reaction-summary-item:first-child:nth-last-child(n+5) ~ *:not(:hover) a:nth-child(n+2) {
	margin-left: -12px;
}

/* Limit reaction avatars when there are 6 types of reactions */
.reaction-summary-item:first-child:nth-last-child(6) a:nth-child(n+3),
.reaction-summary-item:first-child:nth-last-child(6) ~ * a:nth-child(n+3) {
	display: none;
}

/* Hide reaction popover text */
.reaction-popover-form.js-pick-reaction span.js-reaction-description,
.reaction-popover-form.js-pick-reaction .dropdown-divider {
	display: none;
}

/* Remove "Add your Reaction" tooltips */
.reaction-popover-container .tooltipped::before,
.reaction-popover-container .tooltipped::after {
	display: none !important;
}

/*
Create invisible content area below/above reactions popover to increase hover target
Center popup on add reactions button
*/
.reaction-popover-container.dropdown .dropdown-menu-content {
	margin-top: -15px;
	position: absolute;
	left: -94px;
	width: 220px;
	height: 15px;
}

/*
Remove margin-top from invisible hover target for popover below comment content
Add some space below popup so it doesn't cover button
*/
.comment-reactions .reaction-popover-container.dropdown .dropdown-menu-content {
	margin-top: 0;
	bottom: 20px;
}

/*
Show reaction list when hovering over:
- Popover
- Add Reactions button
Hidden content area created to increase hover target
*/
.dropdown-menu.add-reaction-popover:hover,
.reaction-popover-container.dropdown:hover .dropdown-menu-content,
.dropdown-menu-content:hover {
	display: block;
	pointer-events: all;
}

/* Remove top/bottom margin from popovers so there's no gap with invisible hover element */
.reaction-popover-container.dropdown .dropdown-menu.add-reaction-popover {
	margin-top: 0;
	margin-bottom: 0;
}

/* Never show loading spinner for reactions */
.reaction-popover-container .reaction-popover-form .loading-spinner {
	display: none !important;
}

/* Move popup arrow point to center of popup */
.reaction-popover-container.dropdown .dropdown-menu-sw.dropdown-menu::before,
.reaction-popover-container.dropdown .dropdown-menu-sw.dropdown-menu::after,
.reaction-popover-container.dropdown .dropdown-menu-ne.dropdown-menu::before,
.reaction-popover-container.dropdown .dropdown-menu-ne.dropdown-menu::after {
	left: 102px; /* 220px / 2 - 8px for popover arrow */
	right: auto;
}

/* Add colored button when hovering over reaction popover or hidden hover element */
.reaction-popover-container:hover .timeline-comment-action {
	color: #4078c0;
	text-decoration: none;
	opacity: 1;
}

/* Collapse multiple discussion items */
.discussion-item + .discussion-item {
	padding-top: 0 !important;
	border-top: none !important;
}

/* Mark as unread */
.btn-mark-unread {
	margin-top: 8px;
}

/* +/- Pseudo elements on diffs */
.refined-github-diff-signs .blob-code-addition:before,
.refined-github-diff-signs .blob-code-deletion:before {
	position: relative;
	top: -1px;
	left: -8px;
	font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
	line-height: 0; /* Avoids extra vertical space */
	font-size: 11px;
	color: rgba(0, 0, 0, 0.3);
}

.refined-github-diff-signs .blob-code-addition:before {
	content: '+';
}

.refined-github-diff-signs .blob-code-deletion:before {
	content: '-';
}

/* Prevent copy of ghost whitespace where supported (#317) */
.refined-github-diff-signs .add-line-comment {
	-moz-user-select: none;
	user-select: none;
}

/* Remove "pro tip!" box on profile page (appears when name isn't set) */
.new-user-avatar-cta {
	display: none !important;
}

/* Fix for diffheader filename */
.diffbar > .diffstat {
	float: right;
}

/* Fix PR diffbar links position #474 */
.stale-files-tab,
.subset-files-tab {
	font-size: 0 !important;
}
.subset-files-tab .stale-files-tab-link,
.stale-files-tab .stale-files-tab-link {
	font-size: 14px;
}
.stale-files-tab-link:before {
	content: 'Out of date. ';
	font-weight: normal;
}
.stale-files-tab-link:before {
	content: 'Subset of changes. ';
	font-weight: normal;
}

/* Copy button for gists margin */
.gist-copy-btn {
	margin: 0 10px 0 0;
}

/* Multiple comment labels margin */
.timeline-comment .timeline-comment-label + .timeline-comment-label {
	margin-right: -5px;
}

.review-comment .timeline-comment-label + .timeline-comment-label {
	margin-left: 5px;
}

/* Move "close issue" and "cancel" buttons on authoring comments to the left */

/* ...in issue comment form */
.form-actions .btn.js-comment-and-button {
	float: left;
}

/* ...in comment edit form */
div.previewable-edit .previewable-comment-form .form-actions {
	float: none;
	margin-left: 10px;
}

.previewable-edit .previewable-comment-form .form-actions .btn.js-comment-cancel-button {
	float: left;
}

/* ...in inline comment form */
div.inline-comment-form .form-actions,
.inline-comment-form .form-actions .js-hide-inline-comment-form {
	float: none;
}

/* "Copy file path" button in pull request diffs */
#rg-copy-filepath-btn,
#rg-copy-filepath-btn:focus,
#rg-copy-filepath-btn:active {
	border: none;
	background: transparent;
}

/* "Add a Project" button */
#refined-github-project-new-link {
	margin-top: 5px;
}

/* Decrease the size of the search box to fit 'Yours' menu item */
.subnav-search-input[aria-label="Search all issues"] {
	width: 420px;
}

.CodeMirror-lines pre.CodeMirror-line {
	font-variant-ligatures: normal;
}

/* Remove Marketplace marketing box on PRs */
.js-marketplace-callout-container {
	display: none !important;
}

/* Remove the "Styling with Markdown is supported" link when a PR comment is in edit mode */
a.tabnav-extra[href$="mastering-markdown/"] {
	display: none !important;
}

/* Hide empty description of repo */
.repository-meta.mb-3 > .repository-meta-content > em {
	display: none !important;
}

/* Hide marketplace navbar button */
.header-nav-item > a[href='/marketplace'] {
	display: none !important;
}
