.subscribe-feed {
	display: none !important;
}

/* allow for absolute positioning relative to the dashboard */
#dashboard,
.orgpage > .container {
	position: relative !important;
}

#dashboard .new-repo {
	display: none !important;
}

/* remove "Repositories you contribute to" dashboard sidebar box */
.dashboard-sidebar > .boxed-group[role="navigation"]:not(.repos) {
	display: none !important;
}

/* remove the toolbar from the right repo box on the dashboard */
.dashboard-sidebar .user-repos > h3,
.dashboard-sidebar .user-repos > .boxed-group-action {
	display: none !important;
}
.dashboard-sidebar .user-repos .boxed-group-inner {
	border-radius: 3px !important;
}
.dashboard-sidebar .user-repos .filter-repos {
	border-top-left-radius: 3px !important;
	border-top-right-radius: 3px !important;
}
.dashboard-sidebar .user-repos .repo-icon {
	opacity: 0.6 !important;
}

/* remove border between dashboard news items */
.news .alert {
	border: 0 !important;
}

/* remove tooltips */
.tooltipped:not(.reaction-summary-item):before,
.tooltipped:not(.reaction-summary-item):after {
	display: none !important;
}

/* fade out the file icons */
.file-wrap .files .octicon {
	opacity: 0.6;
}

/* remove annoying hover in the repo file list */
.file-wrap .files .navigation-focus td {
	background: none !important;
}

#readme > h3 {
	display: none !important;
}

#readme .markdown-body {
	border-radius: 3px !important;
	border-radius: 3px !important;
}

.paginate-protip {
	display: none !important;
}

.site-footer {
	visibility: hidden;
}

/* remove useless message on the right side of the PR merge box */
.alt-merge-options {
	display: none !important;
}

/* remove top buttons on comment box */
.timeline-comment-wrapper .tabnav-extra, .inline-comment-form-container .tabnav-extra {
	display: none !important;
}

/* remove commentbox toolbar */
.toolbar-group {
    display: none;
}
.toolbar-group:last-child {
    display: inline-block;
}
.toolbar-group .toolbar-item {
    display: none;
}
.toolbar-group .js-saved-reply-container {
	display: block;
}

/* remove upload message on comment box */
.write-content .drag-and-drop {
	display: none !important;
}
.upload-enabled textarea {
	border-bottom: 1px solid #ccc !important;
	border-radius: 3px !important;
}

/* remove random protip at the bottom of the page */
.protip {
	display: none !important;
}

/* remove message under the `Unsubscribe` button */
.sidebar-notifications .reason {
	display: none !important;
}

/* move the dashboard organization switcher to the right column */
.account-switcher {
	position: absolute !important;
	right: 10px !important;
	margin-top: 0 !important;
}
.account-switcher button {
	width: 313px !important;
	z-index: 0 !important;
}
.account-switcher .select-menu-button-gravatar {
	float: none !important;
	display: inline-block !important;
	vertical-align: top !important;
}
.user-repos {
	position: relative !important;
	top: 50px !important;
}
/* organization dashboard */
.orgpage .pagehead-nav {
	float: left !important;
}
.orgpage .account-switcher {
	right: 0 !important;
}
.orgpage .user-repos {
	position: static !important;
}
#org_your_repos {
	top: 0 !important;
}

/* remove "New pull request" button on repo page */
.file-navigation .new-pull-request-btn {
	display: none !important;
}

/* add hover underline for `content.js` linkified branch refs in pull requests */
.commit-ref:hover,
.commit-ref:hover span {
	text-decoration: underline !important;
}

/* remove the "new feature" notification box */
.js-notice {
	display: none !important;
}

/* hide jobs ads from the dashboard */
.github-jobs-promotion {
	display: none !important;
}

/* remove useless tip in the organization news feed */
#dashboard .alert.git_hub {
	display: none !important;
}

/* remove Upload files button; drag and drop is available anyway */
.file-navigation a[href*="/upload/"] {
	display: none !important;
}

/* style for edit README button */
#readme.blob #refined-github-readme-edit-link {
	display: none;
}

#refined-github-readme-edit-link {
	position: absolute;
	top: 10px;
	right: 10px;
	opacity: 0.2;
	transition: opacity 250ms;
}

#refined-github-readme-edit-link:hover {
	opacity: 1;
}

/* indicate collapsible file headers with zoom cursor */
.js-details-container:not(.discussion-item) .file-header[data-path],
.file-header[data-path] .diffstat {
    cursor: zoom-out !important;
}
.refined-github-minimized:not(.discussion-item) .file-header[data-path],
.refined-github-minimized .file-header[data-path] .diffstat {
    cursor: zoom-in !important;
}

.refined-github-minimized .data {
	display: none !important;
}
/* style for delete fork link */
.post-merge-message {
	min-height: 85px;
}

#refined-github-delete-fork-link {
	position: absolute;
	top: 45px;
	right: 30px;
	padding: 10px 10px 0;
}

#refined-github-delete-fork-link a {
	color: #df3e3e;
}

/* hide news items when people:
pushed to a branch
created a branch
deleted a branch
added someone as a collaborator
forked a repo
*/
.news .alert.push,
.news .alert.create.simple,
.news .alert.delete.simple,
.news .member_add,
.news .alert.fork.simple {
	display: none !important;
}

/* increase visibility of news item when someone stars a repo */
.watch_started.simple .body {
	min-height: 55px;
}

svg.octicon.octicon-star.dashboard-event-icon {
	height: 32px !important;
	width: 28px !important;
}

.watch_started .time {
	position: absolute;
	top: 10px;
	left: 45px;
}

.watch_started.simple.alert .simple .title {
	position: absolute;
	top: 26px;
	font-size: 14px !important;
	font-weight: bold;
	color: inherit !important;
}

/* remove margin for added patch and diff links */
.commit-meta span.right .sha-block {
	margin-left: 5px;
}

.commit-meta span.right .sha-block:first-child,
.commit-meta span.right .sha-block:last-child {
	margin-left: 0;
}

/* remove `Developer Program Member` from profile page */
.page-profile .member-badge {
	display: none !important;
}

/* fade out merge commits from commit list */
.refined-github-merge-commit .commit-title {
	font-size: 12px !important;
	margin-top: 4px !important;
}

.refined-github-merge-commit .commit-author-section {
	font-size: 11.4px !important;
}

.refined-github-merge-commit .commit-avatar-cell svg {
	color: #4078c0;
	margin-left: 9px;
}

.refined-github-merge-commit .avatar-parent-child img.avatar-child {
	width: 16px !important;
	height: 16px !important;
}

/* Hide current filename in PR header when not sticky (top of page) */
.js-sticky-offset-scroll:not(.is-stuck) .diff-toolbar-filename {
	display: none;
}

.diff-toolbar-filename {
	font-weight: bold;
}

.diff-toolbar-filename.filename-width-check {
	visibility: hidden;
	position: absolute;
}

/* limit width of commit title and description inputs to 50/80 chars */
#commit-summary-input, #commit-description-textarea {
	font-family: monospace !important;
}

#commit-summary-input {
	width: 410px !important;
}

#commit-description-textarea {
	width: 645px !important;
}

/* make tab indented code more readable on GitHub and Gist */
.tab-size[data-tab-size='2'],
.tab-size[data-tab-size='4'],
.tab-size[data-tab-size='8'],
.inline-review-comment,
.gist table.lines {
	tab-size: 4 !important;
}
