/*
	highly opinionated changes
*/

/* remove "Pulse" repo tab */
.reponav a[href$="/pulse"] {
	display: none !important;
}

/* alternate monospace font stack, sorted by least popular so you're most likely to get the font you want */
code,
kbd,
pre,
tt,
.CodeMirror-lines,
.ace_editor.ace-github-light,
.blob-code-inner,
.export-phrase pre,
.file-editor-textarea,
.gollum-editor .expanded textarea,
.gollum-editor .gollum-editor-body,
.input-monospace,
.wiki-wrapper .wiki-history .commit-meta code {
	font-family: 'Operator Mono SSm', 'Operator Mono', 'Fira Code', 'Ubuntu Mono', 'Droid Sans Mono', 'Liberation Mono', 'Source Code Pro', Menlo, Consolas, Courier, monospace !important;
}

.CodeMirror-lines pre.CodeMirror-line {
	font-variant-ligatures: normal;
}

/* reduce tracking. Fix for Chrome on macOS: https://git.io/vX4Wo */
.markdown-body {
	letter-spacing: -0.02px;
}

/* make the background shading of you having reacted less subtle */
.comment-reactions .user-has-reacted {
	background-color: #c9f1ff !important;
}

/* revert to previous GitHub font */
/*body,
.markdown-body,
.tooltipped::after {
	font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
}
body {
	font-size: 13px !important;
	line-height: 1.4 !important;
}*/
