source/features/pr-filters.tsx @hardikmodha @FloEdelmann
source/features/tags-dropdown.tsx @hardikmodha
source/features/tag-changelog-link.tsx @hardikmodha
source/features/link-to-file-in-file-history.tsx @hardikmodha
source/features/add-tag-to-commits.tsx @dotconnor
source/features/release-download-count.tsx @dotconnor
source/features/indented-code-wrapping.tsx @notlmn
source/features/show-whitespaces.tsx @notlmn
source/features/open-issue-to-latest-comment.tsx @dotconnor
source/features/highest-rated-comment.tsx @lubien
source/features/clean-issue-filters.tsx @notlmn
source/features/cycle-lists-with-keyboard-shortcuts.tsx @notlmn
source/features/separate-draft-pr-button.tsx @FloEdelmann
