node_modules
yarn.lock
distribution
test/web-ext-profile
!test/web-ext-profile/.gitkeep
.cache
.parcel-cache
artifacts
.DS_Store
desktop.ini

LocalOverrides.xcconfig

# GraphQL
schema.docs.graphql
source/github-helpers/github-graphql-types.ts
