/* https://github.com/refined-github/refined-github/issues/5161 */
.rgh-hide-watch-and-fork-count :is(#repo-network-counter, #repo-notifications-counter) {
  display: none;
}

/* https://github.com/refined-github/refined-github/issues/5204 */
:root .rgh-reactions-avatar {
	height: var(--size);
}

/* https://github.com/refined-github/refined-github/issues/5214 */
.pagehead-actions .js-user-list-menu {
	z-index: unset;
}
