/* https://github.com/refined-github/refined-github/issues/5392 */
md-task-list + details,
md-ref + button {
  /* These styles duplicate the .octicon-btn Primer class */
  display: inline-block;
  padding: 5px;
  margin-left: 5px;
  line-height: 1;
  color: var(--color-fg-muted);
  vertical-align: middle;
  background: transparent;
  border: 0;
  box-shadow: none;
}
