/* https://github.com/refined-github/refined-github/issues/5410 */
.rgh-clean-repo-sidebar.rgh-clean-repo-sidebar [href$='#readme'] {
	display: inline !important;
}

.rgh-clean-repo-sidebar .Layout-sidebar [href$='#readme'] {
	display: none !important;
}

/* https://github.com/refined-github/refined-github/issues/5152 */
:root .CheckStep-line .CheckStep-line-content {
	overflow: visible;
}

/* Hotfix for third party npmhub extension https://github.com/npmhub/npmhub/pull/151 */
#dependencies, #devdependencies, #peerdependencies {
	margin: auto;
	width: min(1280px,  calc(100vw - 50px));
}

/* https://github.com/refined-github/refined-github/issues/5530 */
.rgh-clean-dashboard .news .body .Box {
	padding: 0 !important;
	border: none;
	background: none;
}
.rgh-clean-dashboard [role='tabpanel'] [data-repository-hovercards-enabled] > [class] > .body,
.rgh-clean-dashboard .news > [data-repository-hovercards-enabled] > [class] > .body {
	background-color: var(--color-canvas-default);
	border: 1px solid var(--color-border-muted);
	border-radius: 4px;
	margin-top: 16px !important;
	box-shadow: var(--color-shadow-medium);
}
.rgh-clean-dashboard .news .body > .border-bottom {
	border-bottom: none !important;
}

/* https://github.com/refined-github/refined-github/issues/5532 */
.rgh-align-issue-labels .js-issue-row .lh-default.d-block.d-md-inline {
	order: 1;
}
