/* https://github.com/refined-github/refined-github/issues/5410 */
.rgh-clean-repo-sidebar.rgh-clean-repo-sidebar [href$='#readme'] {
	display: inline !important;
}

.rgh-clean-repo-sidebar .Layout-sidebar [href$='#readme'] {
	display: none !important;
}

/* https://github.com/refined-github/refined-github/issues/5152 */
:root .CheckStep-line .CheckStep-line-content {
	overflow: visible;
}

/* Hotfix for third party npmhub extension https://github.com/npmhub/npmhub/pull/151 */
#dependencies, #devdependencies, #peerdependencies {
	margin: auto;
	width: min(1280px,  calc(100vw - 50px));
}
