header {
	background-color: light-dark(#f6f8fa, #02040a);
	border-bottom: solid 1px light-dark(#d2d9e0, #3d444d);
	padding-block: 30px;
	display: grid;
	gap: 1em;

	& > * {
		width: 100%;
		padding-inline: var(--viewport-margin);
		max-width: var(--content-width);
		margin: auto;
	}
}

h1 {
	display: flex;
	gap: 0.4em;
	font-size: clamp(1.3em, 5vw, 2em);
	font-weight: 200;

	img {
		height: 1.3em;
		width: 1.3em;
	}
}
