* {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	cursor: default;
}

:root {
	color-scheme: light dark;

	--spacing: 20px;
}

html {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	gap: var(--spacing);
	margin: 0 calc(var(--spacing) * 2);
	height: 100%;

	font: -apple-system-short-body;
	text-align: center;
}

body:not(.platform-mac, .platform-ios) :is(.platform-mac, .platform-ios) {
	display: none;
}

body.platform-ios .platform-mac {
	display: none;
}

body.platform-mac .platform-ios {
	display: none;
}

body.platform-ios .platform-mac {
	display: none;
}

body:not(.state-on, .state-off) :is(.state-on, .state-off) {
	display: none;
}

body.state-on :is(.state-off, .state-unknown) {
	display: none;
}

body.state-off :is(.state-on, .state-unknown) {
	display: none;
}

.heading {
	font-size: 1.36em;
	font-weight: bold;
}

.subheading {
	font-size: 10px;
	margin-top: 6px;
	opacity: 70%;
}

.state-on .heading {
	color: #20b83a;
}

.state-off .heading {
	color: #ff3b2f;
}

button {
	font-size: 1em;
}

@media (prefers-color-scheme: dark) {
	a {
		color: rgb(255 255 255 / 0.6);
	}

	.state-on .heading {
		color: #32d74b;
	}

	.state-off .heading {
		color: #ff463a;
	}
}
