/* Restore "Delete branch" button in responsive branch list */
@media (max-width: 1011px) {
	.js-branch-row .d-none.d-md-flex, /* Show "Delete"’s container */
	.js-branch-row:not(.Details--on) form.js-branch-destroy { /* Show "Delete" unless it's deleted */
		display: flex !important;
	}

	.js-branch-row .d-block.d-md-none { /* On small viewports, the whole line becomes clickable. Disable this "touch" feature */
		display: none !important;
	}
}

@media (max-width: 767px) {
	.js-branch-row .col-12 {
		width: auto;
		flex-grow: 1;
	}

	:root .js-branch-row .col-12 .css-truncate-target {
		white-space: initial;
	}
}
