.dropdown-menu-reactions.dropdown-menu-reactions { /* Double selector to override .d-flex on Chrome */
	top: 100% !important;
	left: 50% !important;
	right: auto !important;
	transform: translateX(-50%) !important;
	display: grid !important;
	grid-template: auto / repeat(4, auto); /* Restore two-line layout */
}

.comment-reactions .dropdown-menu-reactions.dropdown-menu-reactions { /* Fix position of popup at bottom of comments #5957 */
	top: unset !important;
	bottom: 100% !important;
}
