.rgh-ci-link {
	animation: fade-in 0.2s;
}

.rgh-ci-link summary .octicon {
	vertical-align: 0;
}

/* Adds space between `ci-link` and "Private" label, if present */
.Label + .rgh-ci-link {
	margin-left: 8px;
}

.gh-header-title summary > .octicon-check {
	width: 24px;
	height: 24px;
}

.js-sticky h1 summary > .octicon-check {
	width: 14px;
	height: 14px;
	vertical-align: -1px;
}
