.rgh-ci-link {
	animation: fade-in 0.2s;
}

.rgh-ci-link summary .octicon {
	vertical-align: 0;
}

/* Adds space between `ci-link` and "Private" label, if present */
.Label + .rgh-ci-link {
	margin-left: 8px;
}
