.rgh-ci-link batch-deferred-content {
	display: none !important;
}

.rgh-ci-link summary .octicon {
	vertical-align: 0;
}

/* Adds space between `ci-link` and "Private" label, if present */
.rgh-ci-link .Label:not([hidden]) + .commit-build-statuses {
	margin-left: 8px;
}
