:root .js-file-commit-form {
	inline-size: 100%;
	margin-inline-start: 0 !important;
	padding-inline-start: 16px;
}

.commit-form-avatar {
	display: none;
}

/* Hide arrow on commit form */
.commit-form::before,
.commit-form::after {
	content: none !important;
}
