/**
* Reduce dashboard activity cards
*
* Notes:
* `.flex-items-baseline` excludes label events
* `.color-border-muted` excludes grouped events
* `.js-news-feed-event-group` is only for grouped events
*/

/* Hide duplicate repo name in some non-grouped events */
.rgh-clean-dashboard .dashboard :is(.watch_started, .repo, .public) :is(.color-border-secondary, .color-border-muted).flex-items-baseline .text-bold:is(.color-text-primary, .color-fg-default) {
	display: none;
}

/* Add background and border Whole list */
.rgh-clean-dashboard .news > .f4 + div {
	background-color: var(--rgh-background);
	border: 1px solid var(--rgh-border-color);
	border-radius: 6px;
	margin-top: 8px !important;
}

/* Drop "box" style for all events */
.rgh-clean-dashboard .news > .f4 + div .Box {
	padding: 0 !important;
	border: none;
	background: none;
}

/* Restore "row"-like spacing for all events */
.rgh-clean-dashboard .dashboard .body > .border-bottom {
	margin: 0;
	padding-left: 16px;
	padding-right: 16px;
}

/* Align avatar with first 2 lines */
.rgh-clean-dashboard .dashboard .flex-items-baseline.py-3 {
	align-items: flex-start !important;
}

.rgh-clean-dashboard .dashboard .body .mr-3 + div {
	margin-top: -5px;
	margin-bottom: -5px;
}

/* Reduce spacing after repo description */
.rgh-clean-dashboard .dashboard .repo-description p:last-child {
	margin-bottom: 0;
}

/* Hide footer date on Created Repository events */
.rgh-clean-dashboard .dashboard .repo .f6:is(.color-text-secondary, .color-fg-muted) {
	display: none;
}

/* Grouped events: Make repo name smaller */
.rgh-clean-dashboard .dashboard .Details .flex-items-baseline .text-bold:is(.color-text-primary, .color-fg-default) {
	font-size: 1em !important;
}

/* Grouped events: Show separator */
.rgh-clean-dashboard .dashboard-rollup-items .body {
	border-top: 1px solid var(--rgh-border-color);
	margin-top: 8px;
}

/* Grouped events: Bring horizontal lines to right border */
.rgh-clean-dashboard .js-news-feed-event-group {
	padding-right: 0 !important;
}

/* Grouped events: Keep open */
.rgh-clean-dashboard .Details.js-news-feed-event-group .js-details-target {
	/* Hide toggle */
	display: none;
}

.rgh-clean-dashboard .Details:not(.Details--on) .Details-content--hidden.dashboard-rollup-items {
	/* Always show content. */
	/* Selector must be stronger to override the native one. Yes, even with !important, for some reason. Firefox */
	display: block !important;
}

/* Hide star button */
.rgh-clean-dashboard .dashboard .flex-items-baseline :is([value='Star'], [value='Unstar']) {
	display: none;
}

/* Fade out last line */
.rgh-clean-dashboard .dashboard .flex-items-baseline .f6.mt-2 {
	opacity: 50%;
}

/* Remove the "New repository" button in the dashboard sidebar */
.rgh-clean-dashboard .dashboard-sidebar a[href='/new'] {
	display: none;
}

.rgh-clean-dashboard .dashboard-sidebar .Box-title {
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}

/* Hide "Security" ad */
.rgh-clean-dashboard [data-ga-load='Dashboard, view, Advanced Security'] {
	display: none;
}
