/* Hide "About" header */
.rgh-clean-repo-sidebar .BorderGrid-row:first-child h2 {
	display: none;
}

/* Align the top of the repo root sidebar with the main page content */
.rgh-clean-repo-sidebar .BorderGrid-row:first-child h2 + p.f4 {
	margin-top: 0 !important;
}

/* Hide "+n contributors" link */
.rgh-clean-repo-sidebar ul.flex-wrap + .mt-3 {
	display: none;
}
