.rgh-clean-repo-header .pagehead-actions :is(#repo-network-counter, #repo-notifications-counter) {
	display: none;
}

/* Hide text of "Edit Pins" dropdown button in header of organization repos https://github.com/refined-github/refined-github/pull/5612 */
.rgh-clean-repo-header .pagehead-actions pin-organization-repo summary {
	font-size: 0 !important;
}

.rgh-clean-repo-header .pagehead-actions pin-organization-repo .octicon-pin {
	vertical-align: middle !important;
}
