html:not([rgh-OFF-clean-pinned-issues]) {
	@media (width >= 700px) {
		div[class^='IssueIndexPage-module__middlePaneGrid'] {
			container-type: inline-size;

			& > :first-child {
				/* Enable native vertical sorting */
				max-width: 767px;

				& > ul {
					display: table !important;
					width: 100cqw; /* Restore original width */
					margin: 0;

					/* Rounded table border https://stackoverflow.com/a/2586780/288906 */
					box-shadow: 0 0 0 1px var(--rgh-border-outer-color, fuchsia);
					border-collapse: collapse;
					border-radius: 6px;
					border-style: hidden;

					& > li {
						display: table-row !important;
						border-color: var(--rgh-border-color, fuchsia) !important;

						& > :first-child {
							padding-right: var(--base-size-12, 12px);

							& > [class^='DragAndDropTrigger-module__trigger'] {
								align-self: center;
							}

							div[class^='PinnedIssue-module__contentContainer'] {
								flex-direction: row;
								justify-content: space-between;
								align-items: center;

								&	> [class*='titleOptionsContainer'] {
									display: contents;

									/* Move options button to the end */
									& > button {
										order: 1;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
