[rgh-clean-repo-sidebar] [class*='PageLayout-Pane'] {
	/* Hide "About" header */
	[class*='SidebarSection-module__sidebarSection']:first-child > h2 {
		display: none;
	}

	/* Align the top of the repo root sidebar with the main page content */
	[class*='SidebarSection-module__sidebarSection']:first-child > h2 + p {
		margin-top: 0 !important;
	}

	/*
	 * Hide "+ 65 releases" link
	 * Hide "Learn more about GitHub Sponsors" link
	 * Hide "+ 123 contributors" link
	 */
	[class*='SidebarSection-module__moreLink'] {
		display: none;
	}

	/* Hide Code of conduct links */
	[class*='SidebarSection-module__sidebarSection']
		:is([href$='/code-of-conduct.md' i], [href$='/code_of_conduct.md' i]) {
		display: none;
	}
}
