/* Hide unnecessary comment toolbar items */
md-mention,
md-ref,
markdown-toolbar > :nth-last-child(4) { /* H1, B, I */
	display: none !important; /* Has to override `.d-inline-block` */
}

/* Remove upload message on comment box */
/* `.js-upload-markdown-image` excludes non-comment attachment drop areas #2086 */
file-attachment.js-upload-markdown-image.is-default .drag-and-drop {
	display: none !important;
}

file-attachment.js-upload-markdown-image.is-default textarea {
	border-bottom-style: solid;
	border-radius: 3px;
}
