/* Hide "About" header */
.rgh-clean-repo-sidebar .BorderGrid-row:first-of-type h2 {
	display: none;
}

/* Hide "+n contributors" link */
.rgh-clean-repo-sidebar ul.flex-wrap + .mt-3 {
	display: none;
}

/* Align the top of the repo root sidebar with the main page content */
/* `:not(#discussion_bucket)` avoids breaking the sidebar alignment in PR discussions #4642 */
.rgh-clean-repo-sidebar div:not(#discussion_bucket) > div > .Layout-sidebar {
	margin-top: -16px !important;
}
