:root .rgh-clean-conversation-headers-non-default-branch {
	background-color: var(--color-state-hover-primary-bg, #0366d6);
}

.rgh-clean-conversation-headers-non-default-branch a {
	color: var(--color-state-hover-primary-text, #fff);
}

/* Removes: every text (but not icons) */
.rgh-clean-conversation-headers {
	font-size: 0;
}

/* Shows on issues: [octocat] opened this issue on [1 Jan] · 1 comments */
/* Shows on PRs: [octocat] merged 1 commit into [master] from [feature] on [1 Jan] */
/* Doesn't show on PRs: octocat merged [1] commit into master from feature */
.rgh-clean-conversation-headers > :not(.js-updating-pull-request-commits-count) {
	font-size: 14px;
}

/* Shows on PRs: [by ]octocat main ← feature */
.rgh-clean-conversation-headers:not(.rgh-clean-conversation-headers-hide-author)::before {
	content: 'by ';
	font-size: 14px;
}

.rgh-clean-conversation-headers .author {
	margin-right: 4px;
}

/* Removes on issues: [octocat] opened this issue on 1 Jan · 1 comments */
/* Removes on PRs: [octocat] merged 1 commit into master from feature */
.rgh-clean-conversation-headers.rgh-clean-conversation-headers-hide-author .author {
	display: none;
}

.rgh-clean-conversation-headers .commit-ref {
	font-size: 12px;
}

.rgh-clean-conversation-headers relative-time {
	margin-left: 4px;
}

/* Removes on issues: octocat opened this issue on [1 Jan] · 1 comments */
.gh-header.issue .rgh-clean-conversation-headers relative-time {
	display: none;
}

/* Fixes vertical alignment of base branch dropdown #5598 */
.rgh-clean-conversation-headers .commit-ref-dropdown {
	margin-top: -2px !important;
}
