/**
* Reduce dashboard activity cards
*
* Notes:
* `.flex-items-baseline` excludes label events
* `.color-border-muted` excludes grouped events
* `.js-news-feed-event-group` is only for grouped events
*/

/* TODO: Revert `classes` #6072 */

/* Hide duplicate repo name in some non-grouped events */
.rgh-clean-dashboard .dashboard :is(
	[classes~=watch_started],
	[classes~=repo],
	[classes~=public],
	.watch_started,
	.repo,
	.public
) .f4 .Link--primary {
	display: none !important;
}

/* Drop "box" style from the repos */
.rgh-clean-dashboard .news .body .Box {
	padding: 0 !important;
	border: none;
	background: none;
}

/* Add "box" style to each event group */
/* This exact `>` sequence ensures it works on ajaxed-in events */
.rgh-clean-dashboard [role='tabpanel'] [data-repository-hovercards-enabled] > [class] > .body,
.rgh-clean-dashboard [role='tabpanel'] [data-repository-hovercards-enabled] > [classes] > .body,
/* The organization newsfeed doesn't yet support the new style */
.rgh-clean-dashboard .news > [data-repository-hovercards-enabled] > [class] > .body,
.rgh-clean-dashboard .news > [data-repository-hovercards-enabled] > [classes] > .body {
	background-color: var(--color-canvas-default);
	border: 1px solid var(--color-border-muted);
	border-radius: 4px;
	margin-top: 16px !important;
	box-shadow: var(--color-shadow-medium);
}

/* Drop extra border */
.rgh-clean-dashboard .news .body > .border-bottom {
	border-bottom: none !important;
}

/* Restore "row"-like spacing for all events */
.rgh-clean-dashboard .dashboard .body > .border-bottom {
	margin: 0;
	padding-left: 16px;
	padding-right: 16px;
}

/* Align avatar with first 2 lines */
.rgh-clean-dashboard .dashboard .flex-items-baseline.py-3 {
	align-items: flex-start !important;
}

.rgh-clean-dashboard .dashboard .body .mr-3 + div {
	margin-top: -5px;
	margin-bottom: -5px;
}

/* Reduce spacing after repo description */
.rgh-clean-dashboard .dashboard .repo-description p:last-child {
	margin-bottom: 0;
}

/* Star button: Hide label */
.rgh-clean-dashboard .starring-container button {
	letter-spacing: -1em;
	color: transparent;
	padding-inline: 0.8em 0.5em;
}

/* Star button: Make it less prominent */
.rgh-clean-dashboard .starring-container .BtnGroup-item {
	background: none;
}

/* Hide footer date on Created Repository events */
.rgh-clean-dashboard .dashboard .repo .f6.color-fg-muted {
	display: none;
}

/* Grouped events: Make repo name smaller */
.rgh-clean-dashboard .dashboard .Details .flex-items-baseline .text-bold.color-fg-default {
	font-size: 1em !important;
}

/* Grouped events: Show separator */
.rgh-clean-dashboard .dashboard-rollup-items .body {
	border-top: 1px solid var(--rgh-border-color);
	margin-top: 8px;
}

/* Grouped events: Bring horizontal lines to right border */
.rgh-clean-dashboard .js-news-feed-event-group {
	padding-right: 0 !important;
}

/* Grouped events: ... but restore some padding inside */
.rgh-clean-dashboard .news .js-news-feed-event-group .Box {
	padding-right: 16px !important;
}

/* Grouped events: Keep open */
.rgh-clean-dashboard .Details.js-news-feed-event-group .js-details-target {
	/* Hide toggle */
	display: none;
}

.rgh-clean-dashboard .Details:not(.Details--on) .Details-content--hidden.dashboard-rollup-items {
	/* Always show content. */
	/* Selector must be stronger to override the native one. Yes, even with !important, for some reason. Firefox */
	display: block !important;
}

/* Restore right margin for repo descriptions #5024 */
.rgh-clean-dashboard .dashboard .repo-description {
	margin-right: 16px;
}

/* Fade out last line */
.rgh-clean-dashboard .dashboard .flex-items-baseline .f6.mt-2 {
	opacity: 50%;
}

/* Remove the "New repository" button in the dashboard sidebar */
.rgh-clean-dashboard .dashboard-sidebar a[href='/new'] {
	display: none;
}

.rgh-clean-dashboard .dashboard-sidebar .Box-title {
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}

/* Hide "Security" ad */
.rgh-clean-dashboard [data-ga-load='Dashboard, view, Advanced Security'] {
	display: none;
}
