/* Adjust spacing of empty sections */
.discussion-sidebar-item.rgh-clean-sidebar {
	margin-bottom: -5px;
}

/* Move message under the `Unsubscribe` button above the button */
.thread-subscription-status {
	display: flex;
	flex-direction: column;
}
form.thread-subscribe-form { /* `form` excludes the header */
	order: 1;
}
.thread-subscription-status .reason {
	margin: 0 0 10px !important;
}
