@media (min-width: 768px) {
	.js-notifications-group [id^='notification'] {
		/* Place conversation number before the title */
		display: block !important;

		& > *,
		& > * > *:not(.d-md-none) {
			/* .d-md-none is the mobile-only time */
			display: contents !important;
		}

		/* Hide duplicate repository URL */
		& > .d-flex > .f6 {
			font-size: 0 !important;

			/* Restore conversation number and keep size constant */
			& > span {
				font-size: 12px;
				font-variant-numeric: tabular-nums;
				&:after {
					content: ' • ';
				}
			}
		}
	}
}

/*

Test URLs:

https://github.com/notifications

*/
