html:not([rgh-OFF-clean-pinned-issues]) {
	@media (width >= 700px) {
		ul[aria-label='Drag and drop pinned issues list.'] {
			display: table !important;
			width: 100%;
			margin: 0;

			/* Rounded table border https://stackoverflow.com/a/2586780/288906 */
			box-shadow: 0 0 0 2px var(--rgh-border-color, fuchsia);
			border-collapse: collapse;
			border-radius: 6px;
			border-style: hidden;

			li {
				display: table-row !important;
				border-color: var(--rgh-border-color, fuchsia) !important;
				& > div {
					padding-right: var(--base-size-12, 12px);
				}
			}

			[class^='PinnedIssue-module__titleOptionsContainer'] {
				flex: 1;
			}

			[class^='PinnedIssue-module__contentContainer'] {
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}
		}
	}
}
