/* Remove user avatar from new comment form */
.timeline-new-comment .timeline-comment-avatar,
.review-thread-reply .avatar {
	display: none;
}

.review-thread-reply .review-thread-reply-button {
	margin-left: 0;
}

/* Hide arrow on new comment form */
.timeline-new-comment .timeline-comment--caret::before,
.timeline-new-comment .timeline-comment--caret::after {
	content: none !important;
}

/*

Test URLs:

- Issues: https://github.com/refined-github/sandbox/issues/3
- PRs: https://github.com/refined-github/sandbox/pull/4
- Discussions: https://github.com/vercel/vercel/discussions/3874
- Commits: https://github.com/refined-github/refined-github/commit/82fb3d62f11838ad4120f510bd90520c57bb12da

*/
