:root .js-file-commit-form {
	width: 100%;
	margin-left: 0 !important;
	padding-left: 16px;
}

.commit-form-avatar {
	display: none;
}

/* Hide arrow on commit form */
.commit-form::before,
.commit-form::after {
	content: none !important;
}
