html:not([rgh-OFF-clean-conversation-sidebar]) {
	div[class^='IssueSidebar-module__sidebarContent'] {
		div[class*='SectionContainer'] {
			&:has(span[class*='emptyText']):not(:has(.octicon-gear)) {
				display: none;
			}

			span:is([class*='emptyText'], [class*='developmentHelpText']):not(
					:has(> button)
				) {
				display: none;
			}
		}
	}
}

/* Legacy styles */

/* Adjust spacing of empty sections */
.discussion-sidebar-item.rgh-clean-sidebar {
	margin-bottom: -5px;
}

/* Align sidebar to the top */
.rgh-clean-sidebar .discussion-sidebar-item:first-child {
	padding-top: 0 !important;
}

/* Move message under the `Unsubscribe` button above the button */
.rgh-clean-sidebar .thread-subscription-status {
	display: flex;
	flex-direction: column;
}

/* `form` excludes the header */
.rgh-clean-sidebar form.thread-subscribe-form {
	order: 1;
}

.rgh-clean-sidebar .thread-subscription-status .reason {
	margin: 0 0 10px !important;
}
