[rgh-clean-repo-header] {
	#repository-container-header:not(:has(.js-repo-nav)) /* Excludes pre-Global Navigation Update header */
		:is(
			#repo-stars-counter-star,
			#repo-stars-counter-unstar,
			#repo-network-counter, /* Forks */
			#repo-notifications-counter, /* Watchers */
			.js-codespaces-details-container summary .Button-label /* Green "Code" button label */
		) {
		display: none;
	}

	/* Hide text of "Edit Pins" dropdown button in header of organization repos https://github.com/refined-github/refined-github/pull/5612 */
	.pagehead-actions pin-organization-repo summary {
		font-size: 0 !important;
	}

	.pagehead-actions pin-organization-repo .octicon-pin {
		vertical-align: middle !important;
	}
}
