.footer > div:nth-last-child(2) ul {
	transition: opacity 0.2s ease;
	margin: auto;
}

.footer:not(:hover) > div:nth-last-child(2) ul {
	opacity: 30%;
}

/* The `© 2023 GitHub, Inc.` text */
.footer > div:nth-last-child(2) > div span {
	display: none !important;
}

.footer > div:nth-last-child(2) a {
	color: var(--color-text-disabled, #666);
}
