/* Remove user avatar from new comment form on threads */
.review-thread-reply .avatar {
	display: none;
}

.review-thread-reply .review-thread-reply-button {
	margin-left: 0;
}

/* Collapse multiple discussion items */
/* https://github.com/sindresorhus/refined-github/commit/efa38bfd1048f0daa1d3d147840b1709f53713bd */
.discussion-item+.discussion-item {
	padding-top: 0 !important;
	border-top: none !important;
}
