:root .rgh-clean-conversation-headers-non-default-branch {
	background-color: var(--color-state-hover-primary-bg, #0366d6); /* GHE */
}

.rgh-clean-conversation-headers-non-default-branch a {
	color: var(--color-text-white, #fff); /* GHE */
}
