.rgh-comment-header {
	display: flex;
	align-items: center;
	padding-left: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: var(--fgColor-muted, var(--color-fg-muted));
	border-bottom: 1px solid var(--borderColor-default, var(--color-border-default));
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-color: var(--bgColor-muted, var(--color-canvas-subtle));
}

.rgh-comment-header-bolt {
	color: #FFFF;
	align-items: center;
}
