.rgh-collaborator {
	border: 1px solid
		var(--borderColor-default, var(--color-border-default, fuchsia));
	border-radius: 2em;
	padding: 2px 5px;

	.rgh-small-user-avatars {
		margin-right: 2px !important;
	}
}

/* Fix border partially visible in new view #8025 */
[data-testid='list-row-repo-name-and-number'] {
	margin-top: 1.5px;
}

a.rgh-own-conversation,
a.rgh-own-conversation:hover {
	/* Colors taken from native .user-mention class */
	color: var(
		--color-user-mention-fg,
		fuchsia
	) !important; /* Their :hover	uses !important... */
	background-color: var(--bgColor-attention-muted, fuchsia);
}

a.rgh-own-conversation:hover {
	text-decoration: underline !important;
}
