[data-rgh-conversation-activity-filter='hideEvents'] {
	.rgh-conversation-activity-filtered-event {
		display: none;
		/* For debugging purposes */
		/* display: block !important; */
		/* outline: solid 5px #f00; */
	}
}

[data-rgh-conversation-activity-filter='hideEventsAndCollapsedComments'] {
	.rgh-conversation-activity-filtered-event,
	.rgh-conversation-activity-collapsed-comment,
	.js-resolvable-timeline-thread-container,
	.minimized-comment {
		display: none;
		/* For debugging purposes */
		/* display: block !important; */
		/* outline: solid 5px #f00; */
	}
}

.rgh-conversation-activity-filter-menu {
	.octicon-eye-closed,
	.rgh-conversation-events-label {
		display: none;
	}
	.Button-leadingVisual {
		margin-right: 0 !important;
	}

	&:is([data-rgh-conversation-activity-filter='hideEvents'] *) {
		.octicon-eye {
			display: none;
		}
		.rgh-conversation-events-label, .octicon-eye-closed {
			display: inline-block;
		}
		.Button-leadingVisual {
			margin-right: var(--control-small-gap) !important;
		}
	}

	&:is([data-rgh-conversation-activity-filter='hideEventsAndCollapsedComments'] *) {
		.octicon-eye {
			display: none;
		}
		.octicon-eye-closed {
			display: inline-block;
		}
	}
}

.rgh-conversation-activity-filter-wrapper {
	display: flex;
	align-items: center;
}

/* TODO: Remove after July 2026 */
.gh-header-meta {
	.rgh-conversation-activity-filter-wrapper {
		display: block;
		margin-bottom: 8px; /* Preserve centered vertical alignment with status badge */
	}

	.rgh-conversation-activity-filter {
		display: inline;
	}
}
