.rgh-commit-type-label-feat-colors {
	--label-r: 14;
	--label-g: 138;
	--label-b: 22;
	--label-h: 123;
	--label-s: 81;
	--label-l: 29;
}

.rgh-commit-type-label-fix-colors {
	--label-r: 182;
	--label-g: 2;
	--label-b: 5;
	--label-h: 359;
	--label-s: 97;
	--label-l: 36;
}

.rgh-commit-type-label-chore-colors {
	--label-r: 254;
	--label-g: 242;
	--label-b: 192;
	--label-h: 48;
	--label-s: 96;
	--label-l: 87;
}

.rgh-commit-type-label-docs-colors {
	--label-r: 249;
	--label-g: 208;
	--label-b: 196;
	--label-h: 13;
	--label-s: 81;
	--label-l: 87;
}

.rgh-commit-type-label-build-colors {
	--label-r: 217;
	--label-g: 63;
	--label-b: 11;
	--label-h: 15;
	--label-s: 90;
	--label-l: 44;
}

.rgh-commit-type-label-refactor-colors {
	--label-r: 0;
	--label-g: 107;
	--label-b: 117;
	--label-h: 185;
	--label-s: 100;
	--label-l: 22;
}

.rgh-commit-type-label-test-colors {
	--label-r: 251;
	--label-g: 202;
	--label-b: 4;
	--label-h: 48;
	--label-s: 96;
	--label-l: 50;
}

.rgh-commit-type-label-ci-colors {
	--label-r: 197;
	--label-g: 222;
	--label-b: 245;
	--label-h: 208;
	--label-s: 70;
	--label-l: 86;
}

.rgh-commit-type-label-perf-colors {
	--label-r: 83;
	--label-g: 25;
	--label-b: 231;
	--label-h: 256;
	--label-s: 81;
	--label-l: 50;
}

.rgh-commit-type-label {
	font-size: var(--body-font-size, 14px) !important;
	padding: 2px 0.5rem !important;
}
