.rgh-conversation-events-label,
.rgh-conversation-activity-is-filtered .rgh-conversation-activity-filtered,
[data-rgh-conversation-activity-filter='hideEventsAndCollapsedComments']
	:is(
		.rgh-conversation-activity-collapsed,
		.js-resolvable-timeline-thread-container[data-resolved='true'],
		.js-resolvable-timeline-thread-container[data-resolved='false']
			.minimized-comment
	),
.rgh-conversation-activity-is-filtered
	.rgh-conversation-activity-filter-dropdown
	.octicon-eye,
div:is(
		#diff-comparison-viewer-container,
		[class*='IssueViewer-module__mainContainer'],
		.js-issues-results
	):not(.rgh-conversation-activity-is-filtered)
	.rgh-conversation-activity-filter-dropdown
	.octicon-eye-closed {
	display: none !important;

	/* For debugging purposes only */
	/* display: block !important; */
	/* outline: solid 5px #f00; */
}

[data-rgh-conversation-activity-filter='hideEvents']
	.rgh-conversation-events-label {
	display: inline !important;
}

/* Fix dropdown getting cut off */
[class^='HeaderMetadata-module__titleAndMetadata'],
span[class*='PullRequestHeaderSummary-module'],
div[class^='prc-PageHeader-Description'] .overflow-hidden {
	overflow: visible !important;
}

.rgh-conversation-activity-filter-wrapper {
	display: flex;
	align-items: center;
}

.rgh-conversation-activity-filter-dropdown summary {
	display: flex;
	align-items: center;
}

.rgh-conversation-activity-filter-dropdown .SelectMenu-modal {
	width: max-content;
}

.gh-header-meta {
	.rgh-conversation-activity-filter-wrapper {
		display: block;
		margin-bottom: 8px; /* Preserve centered vertical alignment with status badge */
	}

	.rgh-conversation-activity-filter {
		display: inline;
	}

	.rgh-conversation-activity-filter-dropdown summary {
		display: list-item;
	}
}
