.rgh-highlight-non-default-branch {
	background-color: var(--bgColor-accent-muted, fuchsia) !important;
	color: var(--fgColor-accent, fuchsia) !important;
	border-color: var(--fgColor-accent, fuchsia) !important;
}

.rgh-highlight-non-default-branch svg {
	color: var(--fgColor-accent, fuchsia) !important;
}
