/* TODO: Revert https://github.com/refined-github/refined-github/pull/7859 in March 2025 */
/* The `details` version is for GHE. The `button` in the selector avoids a GHE conflict. `fuchsia` is to highlight broken styles. */
button.rgh-highlight-non-default-branch,
details.rgh-highlight-non-default-branch > summary {
	background-color: var(
		--bgColor-accent-muted,
		var(--color-accent-subtle, fuchsia)
	) !important;
	color: var(--fgColor-accent, var(--color-accent-fg, fuchsia)) !important;
	border-color: var(
		--fgColor-accent,
		var(--color-accent-fg, fuchsia)
	) !important;
}

button.rgh-highlight-non-default-branch svg,
details.rgh-highlight-non-default-branch > summary svg {
	color: var(--fgColor-accent, var(--color-accent-fg, fuchsia)) !important;
}
