.rgh-highlight-non-default-branch {
	background-color: var(
		--bgColor-accent-muted,
		var(--control-danger-bgColor-active)
	) !important;
	color: var(--fgColor-accent, var(--control-danger-fgColor-rest)) !important;
	border-color: var(--fgColor-accent, var(--control-danger-fgColor-rest)) !important;
}

.rgh-highlight-non-default-branch svg {
	color: var(--fgColor-accent, var(--control-danger-fgColor-rest)) !important;
}
