.rgh-dim-bots {
	& > *,
	& .Box-row--drag-hide {
		transition: 100ms opacity; /* Match `mark-merge-commits-in-list` */
	}

	/* Commit titles, dim */
	&:not(.rgh-tagged, :hover) > *,
	/* PR row, dim */
		&:not(.rgh-tagged, :hover)
		.Box-row--drag-hide {
		opacity: 50%; /* Match `mark-merge-commits-in-list` */
	}

	&:not(.rgh-tagged, .rgh-interacted) {
		/* Reset commit title spacing */
		.min-width-0 .mb-1 {
			margin-bottom: 0 !important;
		}

		.mb-1 ~ * /* Commit metadata */,
		.dropdown-signed-commit /* Commit verified label */,
		.flex-shrink-0 .BtnGroup /* Commit buttons on side */,
		.min-width-0 > :is(.d-block, .d-flex) /* PR */ {
			display: none !important;
		}
	}
}
