/*
READ BEFORE EDITING. Some selectors match the same items ("focused" selector vs non-focused); make sure to update them in tandem.
Commits that have a long commit message will not be dimmed after the user uncollapses the `<details>` element.
*/

:root {
	--rgh-dim-bots-delay: 0s;
}

.rgh-dim-bots--after-hover {
	--rgh-dim-bots-delay: 10s; /* #5158 */
}

.rgh-dim-bot:not(.rgh-tagged) .mb-1,
.rgh-dim-bot:not(.rgh-tagged) .mb-1 ~ .d-flex,
.rgh-dim-bot:not(.rgh-tagged) > .d-md-block,
.rgh-dim-bot:not(.rgh-tagged) .Box-row--drag-hide, /* PR row */
.rgh-dim-bot:not(.rgh-tagged) .labels, /* PR labels */
.rgh-dim-bot:not(.rgh-tagged) .text-small:is(.color-text-secondary, .color-fg-muted) /* PR meta */ {
	/* Delay the "focused" status so it's not too annoying when moving the mouse over a list of dimmed items. */
	transition: 0.1s;
	transition-delay: 0.3s;
	transition-property: opacity, margin-bottom, visibility;
}

/*
ALL the following rules define the non-focused state
*/

.rgh-dim-bot:not(.rgh-tagged, .navigation-focus, .Details--on) .mb-1, /* Commit titles, dim */
.rgh-dim-bot:not(.rgh-tagged, .navigation-focus) .Box-row--drag-hide { /* PR row, dim */
	opacity: 20%;
	transition-delay: 0s;
}

.rgh-dim-bot:not(.rgh-tagged, .navigation-focus, .Details--on) .mb-1 ~ .d-flex,
.rgh-dim-bot:not(.rgh-tagged, .navigation-focus, .Details--on) > .d-md-block {
	opacity: 20%;
	margin-bottom: -1.6em;
	visibility: hidden;
	/* Delay visibility transition for a slightly shorter time than --rgh-dim-bots-delay, to make the animation smoother */
	transition-delay: 0s, var(--rgh-dim-bots-delay), 9.9s;
}

.rgh-dim-bot:not(.rgh-tagged, .navigation-focus) .labels, /* PR labels */
.rgh-dim-bot:not(.rgh-tagged, .navigation-focus) .text-small:is(.color-text-secondary, .color-fg-muted) /* PR meta */ {
	margin-bottom: -2em;
	visibility: hidden;
	transition-delay: 0s, var(--rgh-dim-bots-delay), 9.9s;
}
