/* Only shows one icon at a time, depending on hover status */
.rgh-edit-files-faster:not(:hover) .octicon-pencil,
.rgh-edit-files-faster:hover .octicon-file {
	display: none;
}

/* Widen column to avoid bumps in directory-less listings */
.rgh-edit-files-faster {
	width: 16px;
	display: inline-block;
}
