/* Details in https://github.com/refined-github/refined-github/pull/4728/files */

/* stylelint-disable-next-line media-feature-name-no-vendor-prefix -- It's the only cross-browser media query */
@media (-webkit-min-device-pixel-ratio: 2) {
	.js-issue-row [aria-label='Open draft pull request'] svg {
		stroke: var(--color-fg-muted);
		stroke-width: 1.2px;
		color: var(--rgh-background) !important;
		paint-order: stroke;
		overflow: visible !important;
	}
}
