/* Hovering the line will highlight the first direction button, unless you hover the buttons directly */
.rgh-extend-diff-expander .js-expandable-line:hover .blob-num:not(:hover) .directional-expander:first-child,
.rgh-extend-diff-expander .js-expandable-line:hover .blob-num:not(:hover) + .blob-code {
	color: var(--color-state-hover-primary-text, #fff);
	background: var(--color-state-hover-primary-bg, #0366d6);
	border-color: var(--color-state-hover-primary-border, #0366d6);
	cursor: pointer;
}
