/* Hovering the line will highlight the first direction button, unless you hover the buttons directly */
.rgh-extend-diff-expander
	.js-expandable-line:hover
	:is(
		.blob-num:not(:hover) .directional-expander:first-child,
		.blob-num:not(:hover) + .blob-code
	) {
	color: var(
		--control-checked-fgColor-rest,
		var(--color-state-hover-primary-text, #fff)
	);
	background: var(
		--control-checked-bgColor-hover,
		var(--color-state-hover-primary-bg, #0366d6)
	);
	border-color: var(
		--control-checked-borderColor-hover,
		var(--color-state-hover-primary-border, #0366d6)
	);
	cursor: pointer;
}

/* Support new Commit view */
.rgh-extend-diff-expander .diff-line-row:has(button[data-direction]):hover {
	color: var(--diffBlob-hunkNum-fgColor-hover, var(--fgColor-onEmphasis, fuchsia));
	background: var(
		--diffBlob-hunkNum-bgColor-hover,
		var(--bgColor-accent-emphasis, fuchsia)
	);
	cursor: pointer;
	transition: var(--duration-fast) var(--easing-easeInOut);
	transition-property: color, fill, background-color, border-color;

	& button[data-direction] {
		color: var(
			--diffBlob-hunkNum-fgColor-hover,
			var(--fgColor-onEmphasis, fuchsia)
		);
		background: var(
			--diffBlob-hunkNum-bgColor-hover,
			var(--bgColor-accent-emphasis, fuchsia)
		);
	}
}
