.rgh-extensible-nav-removed {
	position: absolute;
	top: -200px;
	left: -2000px;
	opacity: 0.0001;
	width: 1px;
	pointer-events: none;
	> ul {
		/* If we let the native nav "overflow" into the dropdown, we lose the `aria-current` attribute */
		width: 2000px;
	}
}
