/*
  HTML5 boilerplate visuallyhidden
  See https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css#L113
*/
.visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
}
