/* Remove diff signs from the layout flow */
.file .blob-code-inner::before,
.file .blob-code-marker-cell::before {
	position: absolute;
	transform: translateX(-100%);
}

/* Restore the space that collapsed as a consequence of the previous rule */
.file tr:not(.js-expandable-line) .blob-code, /* Each line of code except `@@ ... @@` headers */
.file .js-suggested-changes-blob .blob-code-inner { /* Each line of code in PR review comments */
	padding-left: 25px !important; /* GitHub sets it to 18px */
	text-indent: 0 !important; /* GitHub sets it to -7px */
}

/* Adjust the "Add comment" button’s position, because of the extra padding above */
.file .add-line-comment {
	margin-left: -37px !important; /* GitHub sets this to -28px */
}
