:root .rgh-forked-button {
	border-radius: unset;
	margin-left: -1px;
}

/* Play nice with `hide-watch-and-fork-count` feature */
.rgh-forked-to.rgh-hide-watch-and-fork-count .btn-with-count:is([title^='Fork your own'], [aria-label^='Fork your own']) {
	border-bottom-right-radius: unset;
	border-top-right-radius: unset;
}

@media (max-width: 1000px) {
	.rgh-forked-to.rgh-hide-watch-and-fork-count .rgh-forked-button {
		border-bottom-right-radius: 6px; /* Matches GitHub's default */
		border-top-right-radius: 6px; /* Matches GitHub's default */
	}
}
