.branch-action-state-unstable .branch-action-icon {
	background-color: var(--github-gray) !important;
}

.branch-action-state-unstable .branch-action-body {
	border-color: var(--github-gray-300) !important;
}

.branch-action-state-unstable .branch-action-body::before {
	border-right-color: var(--github-gray-300) !important;
}

.branch-action-state-unstable .octicon-request-changes {
	color: var(--github-gray) !important;
}

.branch-action-state-unstable .branch-action-item > .status-meta {
	color: #24292e !important;
}

.branch-action-state-unstable .donut-chart > .error {
	fill: var(--github-gray) !important;
}
