.branch-action-state-unstable .octicon-request-changes {
	color: var(--github-dark-yellow) !important;
}

.branch-action-state-unstable .branch-action-item > .status-meta {
	color: #24292e !important;
}

.branch-action-state-unstable .donut-chart > .error {
	fill: var(--github-dark-yellow) !important;
}
