/* Style backticked code in links #4817, matches GitHub’s `.markdown-title code` rule */
.js-commits-list-item code, /* `isCommitList` commit message */
.Box-header .commit-author + span code /* `isRepoTree` commit message */ {
	padding: 2px 4px;
	background-color: var(--color-neutral-muted);
	font-size: 0.9em;
	line-height: 1;
	border-radius: 6px;
}

/* Add missing spacing for file template buttons #4899 */
.js-template-suggestion:not(.d-none) {
	margin-left: 8px;
}

/* Avoid scroll bar on single-line `pre` in Markdown #4899 */
.zeroclipboard-container clipboard-copy {
	margin-bottom: 0 !important;
}

/* Bold username in conversation lists #4899 */
:is(.js-issue-row, .js-pinned-issue-list-item) [data-hovercard-type='user'] {
	font-weight: 600;
}

#merge_title_field,
#commit-summary-input, /* Restore monospace font in commit/merge title fields #5188 */
:is(.new_public_key, .new_gpg_key) textarea { /* Monospace textareas for new SSH/GPG keys #4917 */
	/* Same as GitHub style for `code` */
	font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace !important;
}

/* Limit width of comment form on commit pages #5032 */
#all_commit_comments .timeline-comment-wrapper {
	max-width: 780px; /* This is the limit applied on the comment thread by `.comment-holder` */
}

/* Hide trailing separator in PR/commit file diff dropdown */
.js-file-header-dropdown .dropdown-menu > .dropdown-divider:last-child {
	display: none !important;
}

/* Avoid multi-column wrapping in PR lists on small displays #4405 */
.js-issue-row .js-navigation-open ~ .text-small:last-child {
	flex-wrap: wrap;
}

/* Restore margin between reactions on PRs and releases #5287 */
:is(#discussion_bucket.pull-request-tab-content, [data-test-selector='release-card']) .social-reaction-summary-item:not(:first-child) {
	margin-left: 8px !important;
}
