/* Style backticked code in links #4817, matches GitHub’s `.markdown-title code` rule */
.js-commits-list-item code, /* `isCommitList` commit message */
.Box-header .commit-author + span code /* `isRepoTree` commit message */ {
	padding: 2px 4px;
	background-color: var(--color-neutral-muted);
	font-size: 0.9em;
	line-height: 1;
	border-radius: 6px;
}

/* Add missing spacing for file template buttons #4899 */
.js-template-suggestion:not(.d-none) {
	margin-left: 8px;
}

#merge_title_field,
#commit-summary-input, /* Restore monospace font in commit/merge title fields #5188 */
:is(.new_public_key, .new_gpg_key) textarea { /* Monospace textareas for new SSH/GPG keys #4917 */
	/* Same as GitHub style for `code` */
	font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace !important;
}

/* Limit width of comment form on commit pages #5032 */
#all_commit_comments .timeline-comment-wrapper {
	max-width: 780px; /* This is the limit applied on the comment thread by `.comment-holder` */
}

/* Hide trailing separator in PR/commit file diff dropdown #5159 */
.js-file-header-dropdown .dropdown-menu > .dropdown-divider:last-child {
	display: none !important;
}

/* Avoid horizontal scrollbars on Action logs in Safari #5152 */
:root .CheckStep-line .CheckStep-line-content {
	overflow: hidden;
}

/* Avoid overflow caused by the diff signs #5468 */
:root .blob-code-marker::before {
	top: 0;
}

/* Fix alignment of "Allow edits by maintainers" checkbox label and icons #5510 */
#partial-discussion-sidebar .discussion-sidebar-item:last-child > .d-inline-flex {
	align-items: center !important;
}

#partial-discussion-sidebar :is(.js-collab-option input, .js-collab-form + details summary) {
	margin-top: 0 !important;
}

#partial-discussion-sidebar .js-collab-form .status-indicator .octicon {
	vertical-align: baseline !important;
}

/* Fix spacing of repo header button icons #5620 */
.pagehead-actions :is(.btn, summary) .octicon:not(.octicon-triangle-down) {
	margin-right: 4px !important;
}

/* Make sticky left-side sidebar scrollable on the dashboard #6099 */
.dashboard-sidebar {
	overflow: auto;
	padding-bottom: 32px;
}

/* Make sticky left-side sidebar scrollable on the dashboard: Also enables padding-bottom */
.dashboard-sidebar .loading-context {
	min-height: initial !important;
}

/* Hide elements that are stretching the whole viewport #6159 */
@media (max-width: 920px) {
	.Header-link[href='/marketplace'] {
		display: none;
	}
}

@media (max-width: 820px) {
	.Header-link[href='/explore'] {
		display: none;
	}
}

/* Add margin to release download icon #6510 */
.Box-row :is(.octicon-package, .octicon-file-zip):has(+ a[rel='nofollow']) {
	margin-right: 4px;
}
