.show-inline-notes .rgh-comments-indicator {
	display: none;
}

.rgh-comments-indicator {
	position: absolute;
}

.rgh-comments-indicator::before,
.rgh-comments-indicator::after {
	content: '' !important; /* Needs to override .blob-num’s */
	position: absolute;
	top: -1px;
	left: 0;
	width: 200%;
	border-top: solid 1px;
	opacity: 0.4;
	transform: translateY(-50%);
}

/* This is only used to improve the clickability */
.rgh-comments-indicator::after {
	border-top-width: 5px;
	color: transparent;
}

.rgh-comments-indicator button {
	position: absolute;
	right: 100%;
	transform: translateY(-50%);
	padding: 5px 8px;
	color: inherit;
	text-decoration: none !important; /* Needs to override .btn-link’s */
	font-family: sans-serif;
}

.rgh-comments-indicator span {
	margin-left: 3px;
}

/* Split diffs only have 1 line number on the left */
.file-diff-split .rgh-comments-indicator::after,
.file-diff-split .rgh-comments-indicator::before {
	width: 100%;
}

/* Split diffs fill the screen so there's only 18px available. We only show the icon */
.file-diff-split .rgh-comments-indicator span {
	display: none;
}
.file-diff-split .rgh-comments-indicator button {
	padding-right: 1px;
}
