.show-inline-notes .rgh-comments-indicator {
	display: none;
}

.rgh-comments-indicator {
	position: absolute;
}

.rgh-comments-indicator::before {
	content: '' !important; /* Needs to override .blob-num’s */
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	border-top: solid 1px;
	opacity: 0.4;
}

.rgh-comments-indicator button {
	position: absolute;
	right: 100%;
	transform: translateY(-50%);
	padding: 5px 8px;
	color: inherit;
	text-decoration: none !important; /* Needs to override .btn-link’s */
	font-family: sans-serif;
}
