.rgh-comments-indicator {
	position: absolute;
}

.show-inline-notes .rgh-comments-indicator {
	display: none;
}

.rgh-comments-indicator:is(::before, ::after) {
	content: '' !important; /* Needs to override .blob-num’s */
	position: absolute;
	inset-block-start: -1px;
	inset-inline-start: 0;
	inline-size: 200%;
	border-block-start: solid 1px;
	opacity: 40%;
	transform: translateY(-50%);
}

/* This is only used to improve the clickability */
.rgh-comments-indicator::after {
	border-block-start-width: 5px;
	color: transparent;
}

/* Split diffs only have 1 line number on the left */
.file-diff-split .rgh-comments-indicator:is(::before, ::after) {
	inline-size: 100%;
}

.rgh-comments-indicator button {
	position: absolute;
	inset-inline-end: 100%;
	transform: translateY(-50%);
	padding-block: 5px;
	padding-inline: 8px;
	color: inherit;
	text-decoration: none !important; /* Needs to override .btn-link’s */
	font-family: sans-serif;
}

.rgh-comments-indicator span {
	margin-inline-start: 3px;
}

/* Split diffs fill the screen so there's only 18px available. We only show the icon */
.file-diff-split .rgh-comments-indicator span {
	display: none;
}

.file-diff-split .rgh-comments-indicator button {
	padding-inline-end: 1px;
}
