.show-inline-notes .rgh-comments-indicator {
	display: none;
}

.rgh-comments-indicator {
	border-top: 1px solid; /* Needs to override .blob-num’s */
}

.rgh-no-unnecessary-split-diff-view-visited .rgh-comments-indicator.button-container {
	left: -10px;
}

.rgh-comments-indicator.button-container {
	border: none !important;
	position: absolute !important;
	left: 0;
}

/* This is only used to improve the clickability */
.rgh-comments-indicator::after {
	border-top-width: 5px;
	color: transparent;
}

/* Split diffs only have 1 line number on the left */
.file-diff-split .rgh-comments-indicator:is(::before, ::after) {
	width: 100%;
}

.rgh-comments-indicator button {
	position: absolute;
	right: 95%;
	transform: translateY(-50%);
	padding: 5px 8px;
	color: inherit;
	text-decoration: none !important; /* Needs to override .btn-link’s */
	font-family: sans-serif;
}

.rgh-comments-indicator span {
	margin-left: 3px;
}

/* Split diffs fill the screen so there's only 18px available. We only show the icon */
.file-diff-split .rgh-comments-indicator span {
	display: none;
}

.file-diff-split .rgh-comments-indicator button {
	padding-right: 1px;
}
