[data-rgh-no-useless-unified-diff] {
	table-layout: auto !important;
}

[data-rgh-no-useless-unified-diff="left"] :is([data-hunk], .blob-expanded) td:nth-child(2),
[data-rgh-no-useless-unified-diff="right"] :is([data-hunk], .blob-expanded) td:nth-child(4) {
	display: none !important;
	width: 0 !important;
}

[data-rgh-no-useless-unified-diff] .inline-comments .empty-cell:not(.blob-num) {
	display: none !important;
}
