[rgh-no-navigation-highlight] {
	.Box-row.navigation-focus, /* Issue list */
	.react-directory-row:hover, /* React file list */
	.navigation-focus td /* File list */ {
		background: none !important;
	}

	/* Notifications list */
	.notifications-list-item:hover {
		background: none !important;
		box-shadow: none !important;
	}
}
