html:not([rgh-OFF-hide-diff-signs])
	:is(
		/* Edit page, probably upcoming DOM everywhere */
		.diff-text-cell .diff-text,
		.blob-code-inner /* Inline review blocks in PRs */,
		.blob-code-marker-cell /* Commit page */
	)::before,
/* React commit page */
html:not([rgh-OFF-hide-diff-signs]) .diff-text-marker {
	visibility: hidden;
}
