[rgh-hide-diff-signs] :is(
.diff-text-cell .diff-text,
.blob-code-inner,
.blob-code-marker-cell
)::before {
	visibility: hidden;
}

/*

Test URLs

Any commits on https://github.com/sindresorhus/refined-github/commits/main
Any reviewed block on https://github.com/sindresorhus/refined-github/pull/1783
Full diff on https://github.com/sindresorhus/refined-github/pull/1783/files
The preview tab, after editing: https://github.com/refined-github/refined-github/edit/main/source/features/hide-diff-signs.css

*/
