/* Hide removed content */
.rgh-hide-markdown-diff .markdown-body :is(del, .removed) {
	display: none !important;
}

/* Remove decorations on added/changed content */
.rgh-hide-markdown-diff .markdown-body :is(ins, .added, .changed) {
	color: inherit !important;
	background: none !important;
	box-shadow: none !important;
}

/* Only show the toggle when the preview tab is selected */
.rgh-preview-toggle {
	display: none !important;
}

:is(.loading-preview, .show-preview) .rgh-preview-toggle {
	display: block !important;
}
