/* The Watchers count visible (and clickable) when the dropdown is open */
/* This isn't possible for the Forks count because of an incompatible DOM structure and #2368 */
.rgh-hide-watch-and-fork-count:not(.rgh-forked-to) :is(.btn[title^='Fork your own'], .btn[aria-label^='Cannot fork']),
.rgh-hide-watch-and-fork-count details:not([open]) .btn[data-ga-click^='Repository, click Watch'] {
	border-radius: 6px !important; /* Matches GitHub's default */
}

.rgh-hide-watch-and-fork-count .social-count[href$='/network/members'],
.rgh-hide-watch-and-fork-count details:not([open]) ~ .social-count[href$='/watchers'] {
	display: none;
}

/* Bring the Watcher counts above the lightbox to make it clickable */
.rgh-hide-watch-and-fork-count details[open] ~ .social-count[href$='/watchers'] {
	position: relative;
	z-index: 100;
}
