/*
Hide news items when people:
pushed to a branch
deleted a branch
added someone as a collaborator
forked a repo
followed someone
published a release
*/
.rgh-hide-newsfeed-noise .news :is(.push, .fork, .delete, .follow, .release) {
	display: none !important;
}
