/*
 * Reduce margin between yarn berry diff blocks
 */
div[id^="diff-"]:is([data-tagsearch-path*=".yarn/cache"]) {
	margin-top: 8px !important;
	margin-bottom: 8px !important;
}

/*
 * Reduce padding yarn berry diff blocks
 * and make them semi-transparent
 */
div[id^="diff-"]:is([data-tagsearch-path*=".yarn/cache"]) > div:first-child {
	padding-top: 2px;
	padding-bottom: 2px;

	background: var(--color-scale-gray-9) !important;
	opacity: 0.75;
}

/*
 * Make yarn berry diff block to be one line
 */
div[id^="diff-"]:is([data-tagsearch-path*=".yarn/cache"]) > div:first-child > div:first-child {
	display: flex !important;
}
