/* Remove "Continuous integration has not been set up" message on PRs */
.branch-action-item.marketplace-product-callout {
	display: none;
}

/* Remove "pro tip!" box on profile page (appears when name isn't set) */
.new-user-avatar-cta {
	display: none !important;
}

/* Remove random protip at the bottom of some pages */
.protip, /* Conversations */
.js-notifications-list-protip, /* "Save" and "Done" notification lists */
.paginate-container + .text-center:last-child, /* Conversation lists */
.js-notifications-container .js-navigation-container + .flex-items-center:last-child { /* Notifications inbox */
	display: none !important;
}

/* Remove Marketplace marketing box on PRs */
.js-marketplace-callout-container {
	display: none !important;
}
