.rgh-noise-comments-note {
	margin: 15px 0 10px 60px;
	font-size: 12px;
	color: var(--color-text-secondary, #586069); /* GHE #4121 */
}

.rgh-hidden-comment .timeline-comment {
	border-color: var(--github-red);
}
