.rgh-low-quality-comments-note {
	margin: 15px 0 10px 60px;
	font-size: 12px;
	color: var(--color-fg-muted);
}

.rgh-hidden-comment .timeline-comment {
	border-color: var(--rgh-red);
}

.rgh-hidden-comment .timeline-comment--caret::before {
	background-color: var(--rgh-red);
}

.rgh-hidden-comment .timeline-comment--caret::after {
	left: -7px; /* make caret border 1px */
}
