.rgh-empty-split-left,
.rgh-empty-split-right {
	table-layout: auto !important;
}

.rgh-empty-split-left :is([data-hunk], .blob-expanded) :is(td:nth-child(1), td:nth-child(2)),
.rgh-empty-split-right :is([data-hunk], .blob-expanded) :is(td:nth-child(3), td:nth-child(4)) {
	display: none !important;
	width: 0 !important;
}

:is(.rgh-empty-split-left, .rgh-empty-split-right) .inline-comments .empty-cell:not(.blob-num) {
	display: none !important;
}
