.repository-content #readme:not(.blob) .Box-title {
	visibility: hidden;
}

.repository-content #readme:not(.blob) .Box-header {
	margin-bottom: -40px;
	/* fix for older Github Enterprise versions */
	background-color: transparent !important;
	border-bottom: none;
}

.repository-content #readme:not(.blob) .Box-header .btn-octicon {
	transition: opacity 0.25s;
}

.repository-content #readme:not(.blob) .Box-header .btn-octicon:is(:hover, :focus) {
	opacity: 100%;
}
