/* Hide only when the dropdown is closed */

.rgh-hide-watch-and-fork-count details:not([open]) .btn-with-count[title^='Fork your own'],
.rgh-hide-watch-and-fork-count [action='/notifications/subscribe'] details:not([open]) .btn-with-count {
	border-radius: 0.25em; /* Matches GitHub's default */
}

.rgh-hide-watch-and-fork-count details:not([open]) + .social-count[href$='/network/members'],
.rgh-hide-watch-and-fork-count details:not([open]) + .social-count[href$='/watchers'] {
	display: none;
}

/* Bring the counts above the lightbox, to make them clickable */
.social-count[href$='/network/members'],
.social-count[href$='/watchers'] {
	position: relative;
	z-index: 100;
}
