.rgh-highest-rated-comment.comment {
	border-color: #ffa500;
	border-width: 2px;
}

.rgh-highest-rated-comment .rgh-highest-rated-comment-summary {
	border: solid 1px #ffa500;
	border-bottom: solid 1px #ffa500 !important;
}

.rgh-highest-rated-comment .rgh-highest-rated-comment-btn {
	margin-right: 10px;
	padding: 3px;
}

.rgh-highest-rated-comment .rgh-highest-rated-comment-text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	flex-grow: 1;
}

.rgh-highest-rated-comment a {
	/* reset default styles */
	text-decoration: none !important;
}
