a.rgh-highest-rated-comment {
	border: 2px solid #2cbe4e !important;
}

a.rgh-highest-rated-comment .timeline-comment-header-text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: none;
}

a.rgh-highest-rated-comment .avatar {
	position: absolute;
	left: -55px;
}

.rgh-highest-comment .timeline-comment-header-text {
	--color-text-primary: var(--color-text-success);
	--color-text-secondary: var(--color-text-success);
	--color-text-tertiary: var(--color-text-success);
}
