.rgh-highest-rated-comment {
	border: 2px solid var(--github-green);
}

.rgh-highest-rated-comment.timeline-comment--caret::before {
	background-color: var(--github-green);
}

.rgh-highest-rated-comment.timeline-comment--caret::after {
	left: -6px; /* make caret border 2px */
}

a.rgh-highest-rated-comment {
	border: 2px solid var(--github-green) !important;
}

a.rgh-highest-rated-comment .timeline-comment-header-text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: none;
}

a.rgh-highest-rated-comment .avatar {
	position: absolute;
	left: -55px;
}
