.rgh-highest-rated-comment.timeline-comment {
	/* Same as GitHub's `.timeline-chosen-answer` */
	border: 2px solid var(--color-success-emphasis);
}

.rgh-highest-rated-comment.timeline-comment--caret::before {
	background-color: var(--color-success-emphasis);
}

.rgh-highest-rated-comment.timeline-comment--caret::after {
	left: -6px; /* make caret border 2px */
}

a.rgh-highest-rated-comment {
	border: 2px solid var(--color-success-emphasis) !important;
}

a.rgh-highest-rated-comment .timeline-comment-header-text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: none;
}

a.rgh-highest-rated-comment .avatar {
	position: absolute;
	left: -55px;
}
