.rgh-highlight-affected-prs-in-file {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

.rgh-highlight-affected-prs-in-file + .rgh-branch-buttons,
.rgh-branch-buttons + .rgh-highlight-affected-prs-in-file {
	margin-left: 0;
}
