/* GitHub adds negative text indentation, reset it */
.rgh-code-wrapping-enabled .soft-wrap .blob-code {
	text-indent: 0;
	padding-left: 10px;
}

.rgh-code-wrapping-enabled .blob-code-inner {
	white-space: pre-wrap;
}

.rgh-code-wrapping-enabled span.blob-code-inner {
	display: block;
	line-height: 21px; /* `display: block` reduces the line height; this undoes the change */
}

.rgh-code-wrapping-enabled .tooltipped::after {
	text-indent: initial;
}
