.file-navigation {
	display: flex;
	align-items: flex-start;
}

.file-navigation .BtnGroup.float-right {
	order: 100;
}

.file-navigation .breadcrumb {
	flex: 1;
	margin-inline-start: 8px !important;
}
