/* Fade out merge commits from commit list */
.refined-github-merge-commit .commit-title,
.refined-github-merge-commit .commit-meta>div:not(.commit-indicator),
.refined-github-merge-commit .commit-build-statuses>summary {
	opacity: 0.7;
}

.refined-github-merge-commit .octicon-git-pull-request {
	color: #4078c0;
	width: 20px;
}
