/* Fade out merge commits from commit list */
.rgh-merge-commit .commit-title,
.rgh-merge-commit .commit-meta > div:not(.commit-indicator),
.rgh-merge-commit .commit-build-statuses > summary {
	opacity: 0.7;
}

.rgh-merge-commit .octicon-git-pull-request {
	color: #4078c0;
	width: 20px;
}
