.rgh-btn-mark-unread {
	width: 100%;
	margin-top: 8px;
}
.rgh-unread .mute {
	padding-right: 7px;
	padding-left: 3px;
}
.rgh-unread .notification-actions .age {
	width: 150px; /* Align with GH's notifications */
}

/* Change color of marker if there are only discussion marked as unread */
.notification-indicator[data-ga-click$=':read'] .unread {
	background: linear-gradient(#34d058, #28a745);
}
