li.private .Label--secondary {
	border-color: var(
		--borderColor-attention-muted,
		var(--color-attention-muted)
	);
	color: var(--fgColor-attention, var(--color-attention-emphasis, fuchsia));
}

/*

Test URLs:

https://github.com/YOUR_USERNAME?tab=repositories&type=private

Note: it doesn't apply to search results https://github.com/refined-github/refined-github/issues/7585

*/
