/* `.js-upload-markdown-image` excludes non-comment attachment drop areas. See #2086 */
.rgh-minimize-upload-bar .js-upload-markdown-image.is-default .drag-and-drop {
	display: none !important;
}

.rgh-minimize-upload-bar .js-upload-markdown-image.is-default textarea {
	border-bottom-style: solid;
	border-radius: 6px;
}

/* Show upload image button in PR minimized upload bar for desktop */
@media (min-width: 768px) {
	.rgh-minimize-upload-bar label[aria-label='Attach an image'] {
		display: block !important;
		padding: 4px !important;
		margin: 0;
	}
}
