@media (width <= 767px) {
	:root:root .AppHeader-localBar {
		padding: 0;
	}

	:root .UnderlineNav {
		padding-inline: var(--base-size-16, 16px);
		padding-block: 5px var(--control-medium-gap, 8px);
	}

	:root .UnderlineNav-body {
		align-items: stretch; /* Ensure they have the same height */
	}

	:root .UnderlineNav-item {
		display: grid;
		min-width: 50px;
		grid:
			'icon counter'
			'title title';
		gap: 0 5px;
		padding: 6px 10px;
		background: var(
			--control-transparent-bgColor-hover,
			var(--color-action-list-item-default-hover-bg)
		);
	}

	:root .UnderlineNav-item:hover {
		background: var(
			--control-transparent-bgColor-hover,
			var(--color-action-list-item-default-active-bg)
		); /* From: Counter background color */
	}

	:root .UnderlineNav-item.selected::after {
		/* Reposition the orange line */
		bottom: -9px !important;
	}

	:root .UnderlineNav-item [data-content] {
		grid-area: title;
		line-height: 1;
		margin-top: 5px;

		/* font-size: 0; */
		/* Safari 16.4 color bug #6473 */
		font-size: 0.6px;
		color: transparent !important;
	}

	:root .UnderlineNav-item [data-content]::before {
		visibility: inherit;
		height: auto;
		font-size: 10px;
		color: var(--fgColor-default, var(--color-fg-default));
		font-weight: inherit;
	}

	:root [data-content='Pull requests']::before {
		content: 'Pulls' !important;
	}

	/* Tab label on on profiles */
	:root .UnderlineNav-item span[data-view-component]:not([class]) {
		grid-area: title;
		line-height: 1;
		margin-top: 5px;
		font-size: 10px;
	}

	:root .UnderlineNav-item svg {
		margin: 0 !important;
		grid-area: icon;
		justify-self: end;
	}

	:root .UnderlineNav-item .Counter {
		grid-area: counter;
		background: none; /* Counters appears as pills */
		padding: 0;
		margin: 0;
		border: none;
		min-width: min-content;
		justify-self: start;
	}

	/* When counter is missing */
	:root .UnderlineNav-item:not(:has(.Counter)),
	:root .UnderlineNav-item:has(.Counter:empty),
	:root .UnderlineNav-item:has([hidden]) {
		grid-template-areas:
			'icon icon'
			'title title';

		svg {
			justify-self: center;
		}
	}

	/* PR tab navigation */
	/* https://github.com/refined-github/refined-github/issues/7725 */

	:root .tabnav-tab {
		display: inline-flex;
		flex-wrap: wrap;
		width: min-content;
		white-space: nowrap;
		align-content: center;
		justify-content: center;
		align-items: center;
		min-width: 7em;
		padding: 0.7em;
		font-size: 13px;

		.octicon {
			order: -2;
			display: block !important;
		}

		.Counter {
			order: -1;
		}

		@media (width <=500px) {
			font-size: 10px;
			.Counter {
				background: none;
				padding: 0;
				margin: 0;
			}
		}
	}

	@media (width <= 500px) {
		:root .tabnav {
			font-size: 10px;
			/* Avoid awkward clipped overflow */
			padding-right: 0 !important;

			.Counter {
				background: none;
				padding: 0;
				margin: 0;
			}
		}
	}
}

/*

Test URLs:

- Repo: https://github.com/refined-github/refined-github
- Org: https://github.com/refined-github
- User: https://github.com/fregante

*/
