@media (width <= 767px) {
	:root:root .AppHeader-localBar {
		padding: 0;
	}

	:root .UnderlineNav {
		padding-inline: var(--base-size-16, 16px);
		padding-block: 5px var(--control-medium-gap, 8px);
	}

	:root .UnderlineNav-body {
		align-items: stretch; /* Ensure they have the same height */
	}

	:root .UnderlineNav-item {
		display: grid;
		min-width: 50px;
		grid:
			'icon counter'
			'title title';
		gap: 0 5px;
		padding: 6px 13px;
		background: var(
			--control-transparent-bgColor-hover,
			var(--color-action-list-item-default-hover-bg)
		);
	}

	:root .UnderlineNav-item:hover {
		background: var(
			--control-transparent-bgColor-hover,
			var(--color-action-list-item-default-active-bg)
		); /* From: Counter background color */
	}

	:root .UnderlineNav-item.selected::after {
		/* Reposition the orange line */
		bottom: -9px !important;
	}

	:root .UnderlineNav-item [data-content] {
		grid-area: title;
		line-height: 1;
		margin-top: 5px;

		/* font-size: 0; */
		/* Safari 16.4 color bug #6473 */
		font-size: 0.6px;
		color: transparent !important;
	}

	:root .UnderlineNav-item [data-content]::before {
		visibility: inherit;
		height: auto;
		font-size: 10px;
		color: var(--fgColor-default, var(--color-fg-default));
		font-weight: inherit;
	}

	:root [data-content='Pull requests']::before {
		content: 'Pulls' !important;
	}

	:root .UnderlineNav-item svg {
		margin: 0 !important;
		grid-area: icon;
		justify-self: end;
	}

	:root .UnderlineNav-item .Counter {
		grid-area: counter;
		background: none; /* Counters appears as pills */
		padding: 0;
		margin: 0;
		border: none;
		min-width: 0;
		justify-self: start;
	}

	/* When counter is missing */
	:root .UnderlineNav-item:not(:has(.Counter)),
	:root .UnderlineNav-item:has(.Counter:empty) {
		grid-template-areas:
			'icon icon'
			'title title';

		svg {
			justify-self: center;
		}
	}
}

/*

Test URLs:

https://github.com/refined-github/refined-github

*/
