@media (max-width: 767px) {
	:root.rgh-mobile-tabs .AppHeader-localBar {
		padding: 0;
	}

	.rgh-mobile-tabs .UnderlineNav {
		box-shadow: none; /* Disable underline in old header. TODO: Drop in December 2023 */
		padding-inline: var(--base-size-16, 16px);
		padding-block: 5px 10px;
	}

	.rgh-mobile-tabs .UnderlineNav-body {
		align-items: stretch; /* Ensure they have the same height */
	}

	.rgh-mobile-tabs .UnderlineNav-body > li {
		flex-shrink: 0;
	}

	.rgh-mobile-tabs .UnderlineNav-item:not(:hover) {
		background: var(--color-canvas-subtle); /* Hover background color from file list */
	}

	.rgh-mobile-tabs .UnderlineNav-item {
		min-width: max-content;
		display: grid;
		padding: 5px 10px;
		grid-template-columns: auto 1fr;
	}

	.rgh-mobile-tabs .UnderlineNav-item.selected {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.rgh-mobile-tabs .UnderlineNav-item [data-content] {
		font-size: 10px;
		grid-column: span 2;
		grid-row: 2;
		line-height: 1;
		margin-top: 5px;
	}

	.rgh-mobile-tabs .UnderlineNav-item svg {
		margin-right: 0 !important;
	}

	.rgh-mobile-tabs .UnderlineNav-item .Counter {
		grid-column: 2;
		background: none; /* Counters appears as pills */
		min-width: 0; /* Pills have a min-width we don't need */
		padding: 0; /* Pills have padding */
		text-align: left; /* Pills have centered text */
	}
}
