/* Limit width of commit title to 70 characters */
.rgh-monospace-textareas #merge_title_field,
.rgh-monospace-textareas #commit-summary-input,
.rgh-monospace-textareas #pull_request_title {
	width: calc(72ch + 18px);
}

.rgh-monospace-textareas #merge_title_field,
.rgh-monospace-textareas #commit-summary-input,
.rgh-monospace-textareas #pull_request_title,
.rgh-monospace-textareas textarea {
	font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
}

.rgh-monospace-textareas textarea {
	font-size: 13px;
}
