/* Limit width of commit title to 72 characters */
.rgh-monospace-textareas :is(#merge_title_field, #commit-summary-input) {
	width: 72ch;
	max-width: 100%;
	box-sizing: content-box;
}

.rgh-monospace-textareas :is(#merge_title_field, #commit-summary-input, textarea) {
	font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
}

.rgh-monospace-textareas textarea {
	font-size: 13px;
}
