/* Limit width of commit title to 72 characters */
.rgh-monospace-textareas :is(#merge_title_field, #commit-summary-input) {
	width: calc(73ch + 18px);
	max-width: 100%;
}

.rgh-monospace-textareas :is(#merge_title_field, #commit-summary-input, textarea) {
	font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
}

.rgh-monospace-textareas textarea {
	font-size: 13px;
}
