/* Always show the overflow menu button */
.rgh-has-more-dropdown .UnderlineNav-actions {
	visibility: visible !important;
}


/* Only show the divider if there are other items above it */
.UnderlineNav-actions [hidden] + .dropdown-divider {
	display: none;
}
