/* Always show the overflow menu button */
.rgh-has-more-dropdown .UnderlineNav-actions {
	visibility: visible !important;
}

/* Keep the dropdown on the right on non-responsive pages #3548 */
main > :first-child {
	position: relative;
}

/* Only show the divider if there are other items above it */
.UnderlineNav-actions [hidden] + .dropdown-divider {
	display: none;
}
