/* Fix pre-existing items' positioning on GHE */
.reponav-dropdown a.dropdown-item:not(.rgh-reponav-more)::before {
	content: '';
	display: inline-block;
	width: 16px;
}

/* Ensure all icons are 16px wide for alignment */
/* TODO: drop once GHE starts using the new icons */
.rgh-reponav-more svg {
	width: 16px;
}

/* Always show the overflow menu button */
.rgh-has-more-dropdown .js-responsive-underlinenav-overflow {
	visibility: visible !important;
}
