/* Fix pre-existing items' positioning on GHE */
.reponav-dropdown a.dropdown-item:not(.rgh-reponav-more)::before {
	content: '';
	display: inline-block;
	width: 16px;
}

/* Always show the overflow menu button */
.rgh-has-more-dropdown .js-responsive-underlinenav-overflow {
	visibility: visible !important;
}

/* Keep the dropdown on the right on non-responsive pages #3548 */
main > :first-child {
	position: relative;
}

/* Only show the divider if there are other items above it */
.js-responsive-underlinenav-overflow [hidden] + .dropdown-divider {
	display: none;
}
