/* These are 2 exact copies: one for dark mode and the other one for auto mode */

[data-color-mode='dark'] [height='249'] {
	filter: invert();
}

[data-color-mode='dark'] [height='230'] {
	filter: brightness(0.6) saturate(0.5) contrast(1.3);
}

[data-color-mode='dark'] [height='156'] {
	filter: brightness(0.3) saturate(0.5);
}

[data-color-mode='dark'] [height='49'] {
	filter: brightness(0.9) saturate(0.5);
}

[data-color-mode='dark'] [height='415'],
[data-color-mode='dark'] [height='75'],
[data-color-mode='dark'] [height='50'] {
	filter: brightness(0.1) saturate(0.5);
}

[data-color-mode='dark'] [height='123'] {
	filter: brightness(0.15) saturate(0.5);
}

/* Auto mode, dark */
@media (prefers-color-scheme: dark) {
	[data-color-mode='auto'] [height='249'] {
		filter: invert();
	}

	[data-color-mode='auto'] [height='230'] {
		filter: brightness(0.6) saturate(0.5) contrast(1.3);
	}

	[data-color-mode='auto'] [height='156'] {
		filter: brightness(0.3) saturate(0.5);
	}

	[data-color-mode='auto'] [height='49'] {
		filter: brightness(0.9) saturate(0.5);
	}

	[data-color-mode='auto'] [height='415'],
	[data-color-mode='auto'] [height='75'],
	[data-color-mode='auto'] [height='50'] {
		filter: brightness(0.1) saturate(0.5);
	}

	[data-color-mode='auto'] [height='123'] {
		filter: brightness(0.15) saturate(0.5);
	}
}
