/* Brighten Octocat on hover */
.js-plaxify[height='230'] {
	transition: transform 0.1s, filter 1s;
}

.js-plaxify[height='230']:hover {
	filter: none;
}

/* These are 2 exact copies: one for dark mode and the other one for auto mode */

[data-color-mode='dark'] .js-plaxify[height='249'] {
	filter: invert();
}

[data-color-mode='dark'] .js-plaxify[height='230'] {
	filter: brightness(0.6) saturate(0.5) contrast(1.3);
}

[data-color-mode='dark'] .js-plaxify[height='156'] {
	filter: brightness(0.3) saturate(0.5);
}

[data-color-mode='dark'] .js-plaxify[height='49'] {
	filter: brightness(0.9) saturate(0.5);
}

[data-color-mode='dark'] .js-plaxify:is([height='415'], [height='75'], [height='50']) {
	filter: brightness(0.1) saturate(0.5);
}

[data-color-mode='dark'] .js-plaxify[height='123'] {
	filter: brightness(0.15) saturate(0.5);
}

/* Auto mode, dark */
@media (prefers-color-scheme: dark) {
	[data-color-mode='auto'] .js-plaxify[height='249'] {
		filter: invert();
	}

	[data-color-mode='auto'] .js-plaxify[height='230'] {
		filter: brightness(0.6) saturate(0.5) contrast(1.3);
	}

	[data-color-mode='auto'] .js-plaxify[height='156'] {
		filter: brightness(0.3) saturate(0.5);
	}

	[data-color-mode='auto'] .js-plaxify[height='49'] {
		filter: brightness(0.9) saturate(0.5);
	}

	[data-color-mode='auto'] .js-plaxify:is([height='415'], [height='75'], [height='50']) {
		filter: brightness(0.1) saturate(0.5);
	}

	[data-color-mode='auto'] .js-plaxify[height='123'] {
		filter: brightness(0.15) saturate(0.5);
	}
}
