/* Brighten Octocat on hover 1/2 */
.font-mktg > .position-relative [height='230'] {
	transition:
		transform 0.1s,
		filter 1s;
}

/* These are 2 exact copies: one for always-dark mode and the other one for auto mode */

[data-color-mode='dark'] .font-mktg > .position-relative [height='249'] {
	filter: invert();
}

[data-color-mode='dark'] .font-mktg > .position-relative [height='230'] {
	filter: brightness(0.7) saturate(0.5) contrast(1.3);
}

[data-color-mode='dark'] .font-mktg > .position-relative [height='156'] {
	filter: brightness(0.3) saturate(0.5);
}

[data-color-mode='dark'] .font-mktg > .position-relative [height='49'] {
	filter: brightness(0.8) saturate(0.5);
}

[data-color-mode='dark']
	.font-mktg > .position-relative :is([height='415'], [height='75'], [height='50']) {
	filter: brightness(0.1) saturate(0.5);
}

[data-color-mode='dark'] .font-mktg > .position-relative [height='123'] {
	filter: brightness(0.15) saturate(0.5);
}

/* Dark dimmed */
[data-color-mode='dark'][data-dark-theme='dark_dimmed']
	.font-mktg > .position-relative [height='249'] {
	filter: brightness(0.5);
}

[data-color-mode='dark'][data-dark-theme='dark_dimmed']
	.font-mktg > .position-relative [height='230'] {
	filter: brightness(0.8) saturate(0.5) contrast(1.3);
}

[data-color-mode='dark'][data-dark-theme='dark_dimmed']
	.font-mktg > .position-relative [height='156'] {
	filter: brightness(0.5) saturate(0.5);
}

[data-color-mode='dark'][data-dark-theme='dark_dimmed']
	.font-mktg > .position-relative [height='49'] {
	filter: brightness(0.9) saturate(0.5);
}

[data-color-mode='dark'][data-dark-theme='dark_dimmed']
	.font-mktg > .position-relative :is([height='415'], [height='75'], [height='50'], [height='123']) {
	filter: brightness(0.3) saturate(0.5);
}

/* Auto mode, dark */
@media (prefers-color-scheme: dark) {
	/* Dark */
	[data-color-mode='auto'] .font-mktg > .position-relative [height='249'] {
		filter: invert();
	}

	[data-color-mode='auto'] .font-mktg > .position-relative [height='230'] {
		filter: brightness(0.6) saturate(0.5) contrast(1.3);
	}

	[data-color-mode='auto'] .font-mktg > .position-relative [height='156'] {
		filter: brightness(0.3) saturate(0.5);
	}

	[data-color-mode='auto'] .font-mktg > .position-relative [height='49'] {
		filter: brightness(0.9) saturate(0.5);
	}

	[data-color-mode='auto']
		.font-mktg > .position-relative :is([height='415'], [height='75'], [height='50']) {
		filter: brightness(0.1) saturate(0.5);
	}

	[data-color-mode='auto'] .font-mktg > .position-relative [height='123'] {
		filter: brightness(0.15) saturate(0.5);
	}

	/* Dark dimmed */
	[data-color-mode='auto'][data-dark-theme='dark_dimmed']
		.font-mktg > .position-relative [height='249'] {
		filter: brightness(0.5);
	}

	[data-color-mode='auto'][data-dark-theme='dark_dimmed']
		.font-mktg > .position-relative [height='230'] {
		filter: brightness(0.8) saturate(0.5) contrast(1.3);
	}

	[data-color-mode='auto'][data-dark-theme='dark_dimmed']
		.font-mktg > .position-relative [height='156'] {
		filter: brightness(0.5) saturate(0.5);
	}

	[data-color-mode='auto'][data-dark-theme='dark_dimmed']
		.font-mktg > .position-relative [height='49'] {
		filter: brightness(0.9) saturate(0.5);
	}

	[data-color-mode='auto'][data-dark-theme='dark_dimmed']
		.font-mktg > .position-relative :is(
			[height='415'],
			[height='75'],
			[height='50'],
			[height='123']
		) {
		filter: brightness(0.3) saturate(0.5);
	}
}

/* Brighten Octocat on hover 2/2 */
[data-color-mode] .font-mktg > .position-relative [height='230']:hover {
	filter: none;
}

/*

Test URLs:

https://github.com/fregante-404
https://github.com/fregante/404

*/
