html:not([rgh-OFF-no-unnecessary-split-diff-view]) {
	/* The selector looks for diff tables WITHOUT changes on the left XOR on the right */
	/* Instead of duplicating this selector for each rule, we set a variable and pick it up where needed */

	.js-diff-table:has([data-split-side]) {
		&:not(
				:has(
						[data-split-side='left']:is(
								.blob-code-addition,
								.blob-code-deletion
							)
					)
			) {
			--rgh-only-additions: none;

			table-layout: auto !important;
		}

		&:not(
				:has(
						[data-split-side='right']:is(
								.blob-code-addition,
								.blob-code-deletion
							)
					)
			) {
			--rgh-only-deletions: none;

			table-layout: auto !important;
		}
	}

	[class*='DiffLines-module__tableLayoutFixed']:has(col:nth-child(4)) {
		&:not(:has(td:nth-child(2) > :is(.deletion, .addition))) {
			--rgh-only-additions: none;
			--rgh-right-side-w: 100%;

			table-layout: auto !important;
		}

		&:not(:has(td:nth-child(4) > :is(.deletion, .addition))) {
			--rgh-only-deletions: none;
			--rgh-left-side-w: 100%;

			table-layout: auto !important;
		}

		/* Align line number cells with the header first cell */
		.diff-line-number {
			min-width: 40px;
		}
	}

	[data-hunk],
	.blob-expanded,
	.diff-line-row {
		/* Only additions: Hide the left side and expand the right side */
		td:nth-child(2) {
			display: var(--rgh-only-additions, table-cell) !important;
			width: var(--rgh-left-side-w, auto) !important;
		}

		/* Only deletions: Hide the right side and expand the left side */
		td:nth-child(4) {
			display: var(--rgh-only-deletions, table-cell) !important;
			width: var(--rgh-right-side-w, auto) !important;
		}
	}

	/* Any applicable situation: Re-align annotations */
	:is(.inline-comments, .js-inline-annotations) .empty-cell:not(.blob-num) {
		display: var(--rgh-only-additions, var(--rgh-only-deletions, table-cell)) !important;
	}
}
