html:not([rgh-OFF-no-unnecessary-split-diff-view]) {
	/* The selector looks for diff tables WITHOUT changes on the left XOR on the right */
	/* Instead of duplicating this selector for each rule, we set a variable and pick it up where needed */

	.js-diff-table:has([data-split-side]) {
		&:not(
				:has(
						[data-split-side='left']:is(
								.blob-code-addition,
								.blob-code-deletion
							)
					)
			) {
			--rgh-only-additions: none;

			table-layout: auto !important;
		}

		&:not(
				:has(
						[data-split-side='right']:is(
								.blob-code-addition,
								.blob-code-deletion
							)
					)
			) {
			--rgh-only-deletions: none;

			table-layout: auto !important;
		}
	}

	[data-hunk],
	.blob-expanded {
		/* Only additions: Hide the left side */
		td:nth-child(2) {
			display: var(--rgh-only-additions, table-cell) !important;
		}

		/* Only deletions: Hide the right side */
		td:nth-child(4) {
			display: var(--rgh-only-deletions, table-cell) !important;
		}
	}

	/* Any applicable situation: Re-align annotations */
	:is(.inline-comments, .js-inline-annotations) .empty-cell:not(.blob-num) {
		display: var(
			--rgh-only-additions,
			var(--rgh-only-deletions, table-cell)
		) !important;
	}
}

/* TODO: remove everything above in late 2026 */
.rgh-no-split-diff {
	table-layout: auto !important;

	/* No changes on the left side */
	&.rgh-only-additions {
		--rgh-left-side-d: none;
		--rgh-right-side-w: 100%;
	}

	/* No changes on the right side */
	&.rgh-only-deletions {
		--rgh-right-side-d: none;
		--rgh-left-side-w: 100%;
	}

	/* Align line number cells with the header first cell */
	.diff-line-number {
		min-width: 40px;
	}

	.diff-line-row {
		/* The left side (deletions) */
		/* > to avoid selecting suggested changes */
		& > td:nth-child(2) {
			/* Only additions: hide the left side */
			display: var(--rgh-left-side-d, table-cell) !important;
			/* Only deletions: expand the left side */
			width: var(--rgh-left-side-w, auto) !important;
		}

		/* The right side (additions) */
		/* > to avoid selecting suggested changes */
		& > td:nth-child(4) {
			/* Only deletions: hide the right side */
			display: var(--rgh-right-side-d, table-cell) !important;
			/* Only additions: expand the right side */
			width: var(--rgh-right-side-w, auto) !important;
		}
	}
}
