/* Matches the md query, but inverted */
html:not([rgh-OFF-notifications-ui]) {
	@media screen and not (min-width: 768px) {
		/* Place top 3 dropdown buttons in a row */
		.js-notifications-container > h1.sr-only + .d-md-none {
			display: flex !important;
			gap: 12px;
			flex-wrap: wrap;
		}

		/* Move "Manage notifications" to the right */
		/* Use .my-2 for extra specificity */
		.manage-notifications-responsive.my-2 {
			margin: 0 !important;
			order: 10;
		}

		/* Keep the "Inbox" dropdown as wide as possible */
		.manage-notifications-responsive + .d-flex {
			flex-grow: 1;
		}

		/* Hide empty element that takes space in the flexbox */
		.notification-recent-alerts:not(:has(a)) {
			display: none !important;
		}

		/* Allow the filters/sort/search to be ordered */
		.js-check-all-container > .d-md-none:first-child {
			display: flex !important;
			flex-wrap: wrap;
			column-gap: 12px;

			/* Scale back "All | Unread" selector so it doesn't take the full width */
			& > .BtnGroup:first-child {
				width: auto;
			}
		}

		/* Move "1 new notification" to the center */
		.notification-sort-by {
			order: 3;
		}
		.notification-group-by {
			order: 6;
		}

		/* Move search box to the bottom */
		.notifications-query-builder-wrapper {
			order: 9;
		}
	}

	/* Avoid viewport overflow when new notifications are available */
	/* Info: https://github.com/refined-github/refined-github/issues/9658 */
	/* Test:
		1. Open https://github.com/notifications
		2. Run: wrappers = $$('[data-url^="/notifications/beta/recent_notifications_alert"]');wrappers[0].innerHTML = wrappers[1].innerHTML = '<a class="h6" href="#"><span class="d-inline-block circle color-bg-accent-emphasis" style="width: 8px; height: 8px"></span> 1 new notification'
	*/
	@media (768px <= width < 1012px) {
		.notification-sort-by,
		.notification-group-by {
			&:has(~ .notification-recent-alerts a) {
				display: none !important;
			}
		}
	}
}
