/* For the 1st button "Create public Gist" */
#gists + div button[value='1'] {
	margin-left: auto !important;
	margin-right: 0;
}

/* Reverse the DOM order to enable the "auto-disable on load" logic */
/* https://github.com/refined-github/refined-github/pull/10130#issuecomment-5889333355 */
.rgh-draft-pr-button {
	order: -1;
}

.btn-primary:disabled + .rgh-draft-pr-button {
	opacity: 0.5;
}
