.rgh-action-row {
	/* Don't hide the entire element if there is a message */
	&:not(:has([class^='prc-Flash'])) {
		display: none !important;
	}
	/* Always hide buttons */
	& > :nth-child(2) {
		display: none !important;
	}
}
