/* Align right */
.js-notifications-mark-selected-actions ~ :is(.rgh-open-notifications-button, .rgh-open-selected-button) {
	margin-left: auto;
}

/* Hide main button when user has selected some notifications */
.js-notifications-mark-selected-actions:not([hidden]) ~ .rgh-open-notifications-button {
	display: none;
}

/* Show "Open all selected" only when user has selected some notifications */
.rgh-open-selected-button {
	display: none;
}

.js-notifications-mark-selected-actions:not([hidden]) ~ .rgh-open-selected-button {
	display: inline-block;
}
