/* Style copied from GitHub's <code> */
.rgh-parse-backticks {
	background-color: var(--color-neutral-muted, rgb(27 31 35 / 5%));
	border-radius: 6px;
	font-size: 85%;
	margin: 0;
	padding: 0.2em 0.4em;
}
