/* Decrease font-size on commit details to help the links fit */
.commit .sha-block {
	margin-left: 7px !important;
}
.commit .sha-block,
.commit .sha {
	font-size: 10px !important;
}
.signed-commit-badge-medium {
	padding: 2px 4px !important;
	margin-left: 5px !important;
	font-size: 10px !important;
}
