/* TODO: Drop feature when the new PR list is fully rolled out */

/* Show approvals count in PR list */
.js-issue-row .color-fg-muted.text-small {
	a[aria-label*='approval'] {
		font-size: 0;
		color: transparent !important;
	}

	a[aria-label*='approval']::before {
		all: unset;
		content: attr(aria-label);
		display: inline-block !important;
		color: var(--rgh-green);
		font-size: 12px;
	}

	a[aria-label*='changes'] {
		color: var(--rgh-red) !important;
	}

	a[aria-label*='required'] {
		color: var(--rgh-yellow) !important;
	}

	/* Disable now-duplicate tooltip */
	a[aria-label*='approval']::after {
		content: none;
	}
}

/*

Test URLs:

https://github.com/refined-github/sandbox/pulls?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc+review

*/
