/* Show approvals count in PR list */
.js-issue-row .color-fg-muted [href$='#partial-pull-merging'][aria-label*='approval'] {
	font-size: 0;
}

.js-issue-row .color-fg-muted [href$='#partial-pull-merging'][aria-label*='approval']::before {
	all: unset;
	content: attr(aria-label);
	display: inline !important;
	color: var(--rgh-green);
	font-size: 12px;
}

.js-issue-row .color-fg-muted [href$='#partial-pull-merging'][aria-label*='changes'] {
	color: var(--rgh-red) !important;
}

/* Disable now-duplicate tooltip */
.js-issue-row .color-fg-muted [href$='#partial-pull-merging'][aria-label*='approval']::after {
	content: none;
}

/*

Test URLs:

https://github.com/refined-github/sandbox/pulls?q=is%3Apr+is%3Aopen+sort%3Aupdated-desc+review

*/
