/* Truncate hidden comment preview text with ellipsis */
.rgh-preview-hidden-comments :is(.timeline-comment-header-text, summary h3) {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.rgh-preview-hidden-comments .Details-content--closed:not(.rgh-preview-hidden-comments-details) {
	display: none !important; /* 4983 */
}
