/* Show button when the avatar or the button itself are hovered/focused */
:not(:hover, :focus) + button.rgh-quick-mention:not(:hover, :focus) {
	opacity: 10%;
}

button.rgh-quick-mention {
	display: flex;
	justify-content: center;
	align-items: center;
	inline-size: 100%;
	block-size: 30px;
	margin-block-end: -30px; /* Avoids pushing app badges down #2630 */
}

/* Show icon in black if it's not hovered/focused, instead of the blue color caused by .btn-link */
button.rgh-quick-mention:not(:hover, :focus) {
	color: inherit;
}
