.rgh-quick-label-removal {
	display: flex !important;
	margin-inline: 2px -7px;
	color: inherit !important;
}

.rgh-quick-label-removal svg {
	margin: 2px;
	margin-inline-start: 0;
	border-radius: 50%;
	padding-block: 2px;
	padding-inline: 0;
	inline-size: 14px;
	block-size: 14px;
}

.rgh-quick-label-removal:is(:focus, :hover) svg {
	background-color: currentcolor;
	fill: rgb(var(--label-r) var(--label-g) var(--label-b));
}

[data-color-mode='dark'][data-dark-theme*='dark'] .rgh-quick-label-removal:is(:focus, :hover) svg {
	fill: var(--rgh-background);
}
