:root .rgh-quick-fork-deletion[open] span {
	position: relative;
	z-index: 81;
	font-variant-numeric: tabular-nums;
	transform-origin: top;
}

:root .rgh-quick-fork-deletion[open] summary:before {
	background-color: var(--color-scale-red-6);
	opacity: 0.3;
}
