:root .rgh-quick-repo-deletion[open] span {
	position: relative;
	z-index: 81;
	transform-origin: top;
}

:root .rgh-quick-repo-deletion[open] summary::before {
	background-color: var(--color-scale-red-6);
	opacity: 30%;
}
