/* Show button when the avatar or the button itself are hovered/focused */
:not(:hover, :focus) + .rgh-quick-mention:not(:hover, :focus) {
	opacity: 10%;
}

.rgh-quick-mention {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 30px;
	margin-bottom: -30px; /* Avoids pushing app badges down #2630 */
}

/* Show icon in black if it's not hovered/focused, instead of the blue color caused by .btn-link */
.rgh-quick-mention:not(:hover, :focus) {
	color: inherit;
}
