/* Show button when the avatar or the button itself are hovered/focused */
:not(:hover, :focus) + .rgh-quick-mention:not(:hover, :focus) {
	opacity: 20%;
}

.rgh-quick-mention {
	/* !important required to override .tooltipped */
	position: absolute !important;
	top: 100%;
	left: 50%;
	translate: -50%;

	/* Centers and improves clickable area; !important required to override .btn-link */
	padding: 4px 12px !important;
}

.rgh-quick-mention.react-view {
	position: static !important;
	translate: none;

	&::after {
		bottom: unset;
		transform: none;
	}
}

/* Show icon in black if it's not hovered/focused, instead of the blue color caused by .btn-link */
.rgh-quick-mention:not(:hover, :focus) {
	color: inherit;
}
