.reaction-summary-item {
	padding-right: 0.7em !important;
	padding-left: 0.7em !important;
}

button.reaction-summary-item { /* `button` excludes the "Add reaction" icon */
	border-top: 1px solid var(--github-border-color); /* Required when the second line is longer than the first line */
	border-bottom: 1px solid var(--github-border-color); /* Required when the first line is longer than the second line */
	margin-bottom: -1px; /* Makes up for `order-bottom` */
}

.comment-reactions .js-pick-reaction {
	margin-top: -1px; /* Makes up for `.reaction-summary-item {border-top}` */
}

.reaction-summary-item span {
	display: inline-block;
	width: 2em;
	height: 2em;
	margin-top: -0.3em;
	margin-left: -0.5em;
	vertical-align: middle;
	background: var(--color-bg-canvas-inset, #efefef); /* Placeholder before the images load */
	box-shadow: 0 0 0 2px var(--color-bg-info, #fff);
	font-size: 10px; /* Base sizer */
}

.reaction-summary-item span:first-of-type {
	margin-left: 0.5em;
}

.review-comment .reaction-summary-item span {
	font-size: 9px;
}

.discussion-post .reaction-summary-item span {
	margin-top: -1px;
}

/* This image will start at height:0 and will expand once loaded, covering the gray placeholder */
.reaction-summary-item span img { /* `span` required for #3237 */
	width: 100%;
	background-color: var(--color-bg-info, #fff);
}
