:root .reaction-summary-item span:nth-child(2) {
	background: transparent;
	border-radius: 50%;
	border: inherit;
	line-height: 16px;
	margin-top: 2px;
	min-width: 18px;
}

:root .rgh-reactions-avatar {
	--size: 1.3em;
	display: inline-block;
	width: var(--size);
	height: var(--size);
	padding: 0;
	margin: 0;
	margin-left: calc(var(--size) * 0.3); /* Move away from count */
	margin-right: calc(var(--size) * -0.5);
	box-sizing: content-box;
	align-self: center;
}

:root .rgh-reactions-avatar:last-of-type {
	margin-right: -0.15em !important;
}

:root .rgh-reactions-avatar img {
	display: block;
	margin: -1px 0 0;
	width: var(--size);
	height: var(--size);
}
