:root .social-button-emoji,
:root .reaction-summary-item span:nth-child(2) {
	align-self: center;
	box-sizing: content-box;
	min-width: 16px;
}

:root .reaction-summary-item span:nth-child(2):not(:last-child) {
	margin-right: 3px;
}

:root .rgh-reactions-avatar {
	--size: 1.3em;
	display: inline-block;
	width: var(--size);
	height: var(--size);
	padding: 0;
	margin: 0;
	box-sizing: content-box;
	align-self: center;
}

:root .rgh-reactions-avatar:last-of-type {
	margin-right: -0.15em !important;
}

:root .rgh-reactions-avatar img {
	display: block;
	margin: -1px 0 0;
	width: var(--size);
	height: var(--size);
}
