/* Move it out of the way */
.rgh-recently-pushed-branches [data-url$='recently_touched_branches_list'] {
	position: relative;
	margin-left: auto;
	margin-right: 6px;
}
.rgh-recently-pushed-branches [data-url$='recently_touched_branches_list'] .mb-3 {
	margin-bottom: 0 !important;
	max-height: 42px; /* Only cover the actions when there are multiple branches + :hover */
	position: absolute;
	top: -19px;
	right: 10px;
	z-index: 32; /* Set z-index higher than ul.pagehead-actions */
	white-space: nowrap;
	animation: rgh-slide-in-right 0.3s ease-out;
}
/* Fix positioning on GHE */
.rgh-recently-pushed-branches.enterprise [data-url$='recently_touched_branches_list'] .mb-3 {
	position: initial;
}
.rgh-recently-pushed-branches [data-url$='recently_touched_branches_list'] p {
	display: none;
}
.rgh-recently-pushed-branches .RecentBranches {
	display: flex;
	width: max-content;
	overflow: hidden;
	margin-left: auto;
	flex-direction: column-reverse;
	background: none;
	border-color: currentColor;
	border-radius: 5px;
	background-color: #24292e;
}
.rgh-recently-pushed-branches .RecentBranches .btn {
	width: 32px;
	text-indent: -999999px; /* Hide text */
}
.rgh-recently-pushed-branches .RecentBranches:not(:hover) .btn {
	background: #5d5d5d;
}
.rgh-recently-pushed-branches .RecentBranches .btn + div {
	margin-right: 8px;
	float: right;
	font-size: 11px;
}
.rgh-recently-pushed-branches .RecentBranches .btn .octicon {
	margin-top: 2px;
	float: right;
}
.rgh-recently-pushed-branches .RecentBranches-item + .RecentBranches-item {
	border-top: none;
	border-bottom: 1px solid;
}
.rgh-recently-pushed-branches .RecentBranches-item {
	color: inherit;
	padding: 4px !important;
}
.rgh-recently-pushed-branches .RecentBranches:not(:hover) .RecentBranches-item:not(:last-child) {
	/* Hide older branches */
	display: none;
}
.rgh-recently-pushed-branches .RecentBranches:not(:hover) .RecentBranches-item:last-child {
	border-bottom-width: 2px;
}
.rgh-recently-pushed-branches .RecentBranches-item-link {
	max-width: 250px !important;
	font-size: 14px;
	color: #fff;
}

@keyframes rgh-slide-in-right {
	from {
		transform: translateX(-30px);
		opacity: 0;
	}
}
