/* Simulates fixed columns */
.rgh-release-download-count {
	& > span:not(:last-child) {
		flex-basis: 0 !important;
		min-width: 5em;
	}

	/* Date */
	& > span:last-child {
		min-width: 7em;
	}

	/* Right-align on mobile */
	[data-rgh-heat] {
		min-width: 5em;
	}
}
