.rgh-remove-label-button {
	display: flex !important;
	color: inherit;
	margin-left: 2px;
	margin-right: -7px;
	color: var(--rgh-remove-label-button-color) !important;
}

.rgh-remove-label-button svg {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 2px;
	border-radius: 50%;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 14px !important;
	height: 14px !important;
}

.rgh-remove-label-button:focus svg,
.rgh-remove-label-button:hover svg {
	background-color: var(--rgh-remove-label-button-color);
	color: var(--rgh-remove-label-button-bg-color);
}
