.rgh-remove-label-faster {
	display: flex !important;
	margin-left: 2px;
	margin-right: -7px;
	color: inherit !important;
}

.rgh-remove-label-faster svg {
	margin: 2px;
	margin-left: 0;
	border-radius: 50%;
	padding: 2px 0;
	width: 14px;
	height: 14px;
}

.rgh-remove-label-faster:is(:focus, :hover) svg {
	background-color: currentColor;
	fill: var(--rgh-remove-label-faster-color);
}

:root:root .rgh-remove-label-faster-already-added {
	display: inline-flex !important;
}
