.rgh-remove-label-button {
	display: flex !important;
	margin-left: 2px;
	margin-right: -7px;
	color: inherit !important;
}

.rgh-remove-label-button svg {
	margin: 2px;
	margin-left: 0;
	border-radius: 50%;
	padding: 2px 0;
	width: 14px !important;
	height: 14px !important;
}

.rgh-remove-label-button:focus svg,
.rgh-remove-label-button:hover svg {
	background-color: currentColor;
	fill: var(--rgh-remove-label-button-color);
}
