.rgh-render-semantic-release-commit-types-feat-label-colors {
	--label-r: 14;
	--label-g: 138;
	--label-b: 22;
	--label-h: 123;
	--label-s: 81;
	--label-l: 29;
}

.rgh-render-semantic-release-commit-types-fix-label-colors {
	--label-r: 215;
	--label-g: 58;
	--label-b: 74;
	--label-h: 353;
	--label-s: 66;
	--label-l: 53;
}

.rgh-render-semantic-release-commit-types-chore-label-colors {
    --label-r: 100;
    --label-g: 100;
    --label-b: 100;
	--label-h: 0;
	--label-s: 0;
	--label-l: 255;
}

.rgh-render-semantic-release-commit-types-docs-label-colors {
	--label-r: 23;
    --label-g: 157;
    --label-b: 125;
    --label-h: 165;
    --label-s: 74;
    --label-l: 35;
}

.rgh-render-semantic-release-commit-types-build-label-colors {
	--label-r: 255;
	--label-g: 150;
	--label-b: 0;
	--label-h: 36;
	--label-s: 100;
	--label-l: 50;
}

.rgh-render-semantic-release-commit-types-refactor-label-colors {
	--label-r: 165;
    --label-g: 138;
    --label-b: 82;
    --label-h: 40;
    --label-s: 33;
    --label-l: 48;
}

.rgh-render-semantic-release-commit-types-test-label-colors {
    --label-r: 85;
    --label-g: 246;
    --label-b: 226;
    --label-h: 172;
    --label-s: 89;
    --label-l: 64;
}

.rgh-render-semantic-release-commit-types-ci-label-colors {
	--label-r: 255;
	--label-g: 255;
	--label-b: 255;
	--label-h: 0;
	--label-s: 0;
	--label-l: 255;
}

.rgh-render-semantic-release-commit-types-perf-label-colors {
	--label-r: 83;
	--label-g: 25;
	--label-b: 231;
	--label-h: 256;
	--label-s: 81;
	--label-l: 50;
}
