html:not([rgh-OFF-repo-header-info]) {
	nav[data-component='Breadcrumbs']
		ol:not(.rgh-repo-header-info-updated)
		li:last-child {
		/* Matches the `isSmallDevice` JS check */
		@media (min-width: 500px) {
			padding-right: 6em;
		}
	}

	/* Hide breadcrumb's slash. Somehow this is added via both pseudo-element and element */
	.rgh-repo-header-info-updated li:not(.rgh-header-info) + li {
		span[class*='Breadcrumbs-ItemSeparator'],
		&::after {
			content: none;
			display: none;
		}
	}

	/* Improve alignment */
	.rgh-ci-link .commit-build-statuses {
		font-size: 0;
	}
}
