tr.rgh-comments-indicator {
	position: relative;
}
tr.rgh-comments-indicator td {
	position: absolute;
}

tr.rgh-comments-indicator td::after {
	background: currentColor;
	content: '';
	height: 1px;
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
}

.show-inline-notes tr.rgh-comments-indicator td::after {
	background: transparent;
}

tr.rgh-comments-indicator button {
	position: absolute;
	left: 0;
	transform: translate(-100%, -50%);
	padding: 5px 10px;
	background: none;
	color: inherit;
	border: none;
	display: flex;
	align-items: center;
	line-height: 1;
}

tr.rgh-comments-indicator button:hover {
	color: #586069;
}
