.comment-body blockquote,
.comment-body pre {
	position: relative; /* OctoLinker compat: attach the purple balls to the scroll */
	max-height: 30.5em;
	overflow-y: auto;
}

.comment-body details blockquote,
.comment-body details pre,
.comment-body blockquote blockquote,
.comment-body blockquote pre {
	max-height: none;
}
