.comment-body :is(blockquote, pre) {
	position: relative; /* OctoLinker compat: attach the purple balls to the scroll */
	max-height: 30.5em;
	overflow-y: auto;
}

/* A tiny scroll bar appears when the last paragraph contains a `code` or `g-emoji` tag #3012 */
.comment-body blockquote {
	padding-bottom: 0.2em;
}

.comment-body :is(details blockquote, details pre, blockquote blockquote, blockquote pre) {
	max-height: none;
}
