.comment-body blockquote,
.comment-body pre {
	position: relative; /* OctoLinker compat: attach the purple balls to the scroll */
	max-height: 30.5em;
	overflow-y: auto;
}

/* A tiny scroll bar appears when the last paragraph of a quote contains an Emoji */
.comment-body blockquote > :last-child g-emoji {
	line-height: 1.33;
}

.comment-body details blockquote,
.comment-body details pre,
.comment-body blockquote blockquote,
.comment-body blockquote pre {
	max-height: none;
}
