/* Only when the menu is shown as a dropdown, not as a modal (mobile) #5796 */
/* The media query matches the native one exactly, inverted via `not` */
@media screen and not (width <= 543px) {
	.js-notifications-mark-selected-actions > *,
	.rgh-open-selected-button {
		/* Allow clicking on "Done" and other toolbar buttons even when the dropdown (z-index of 99) is open #4753 */
		z-index: 100;
	}
}

/* Remove scrollbars when they are not needed */
#rgh-select-notifications-form {
	&,
	& .SelectMenu-list {
		margin-bottom: 0;
	}
	.SelectMenu-item {
		padding: var(--base-size-8, 0.5rem)
	}
}
