.pl-ws {
	position: relative;
	line-height: 1em;
	text-indent: 0; /* Reset indentation added by `indented-code-wrapping` feature */
}

.pl-ws::before {
	user-select: none;
	position: absolute;
	left: 0;
	top: 0;
	color: #000;
	opacity: 0.3;
}

.pl-tab::before {
	content: '→';
}

.pl-space::before {
	content: '·';
}

.pl-nl::before {
	content: '¬';
}
