[data-rgh-whitespace] {
	line-height: 1em;
	white-space: break-spaces;
	background-clip: border-box;
	background-repeat: repeat-x;
	background-position: left center;
}

[data-rgh-whitespace='tab'] {
	background-image: url("data:image/svg+xml,%3Csvg fill='none' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMinYMid meet' %3E%3Cpath d='M9.5 10.44L6.62 8.12L7.32 7.26L12.04 11V11.44L7.28 14.9L6.62 13.9L9.48 11.78H0V10.44H9.5Z' fill='%23545E5D' fill-opacity='0.5'/%3E%3C/svg%3E");
	background-size: calc(var(--tab-size, 4) * 1ch) 1em;
}

[data-rgh-whitespace='space'] {
	background-image: url("data:image/svg+xml,%3Csvg fill='none' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg preserveAspectRatio='xMidYMid meet' %3E%3Crect x='4.5' y='9.5' width='3' height='3' rx='1.5' fill='%2324292E' fill-opacity='0.5'/%3E%3C/svg%3E");
	background-size: 1ch 1em;
}
