/* Styles mostly copied from React component */
:root .rgh-pr-box {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 4px;
	height: auto; /* Must override the hardcoded height */
}

.rgh-pr-link {
	color: var(--color-fg-muted);
	text-decoration: none;
	font-weight: normal;
	align-items: center;
	border: solid 1px var(--color-border-default);
	text-decoration: none;
	border-radius: 999px;
	display: inline-flex;
	font: 600 12px/1 inherit;
	white-space: nowrap;
	height: 20px;
	padding: 0 7px;
}

.rgh-pr-link:hover {
	background-color: var(--color-canvas-subtle);
}

.rgh-pr-text {
	margin-left: 4px;
	color: var(--color-fg-muted);
}
