.rgh-small-user-avatars {
	width: 1em;
	height: 1em;
	min-height: 14px;
	min-width: 14px;
	text-align: center;

	img {
		width: 100%;
		height: 100%;
	}

	.octicon {
		vertical-align: baseline
	}
}

.user-mention {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

[data-testid='list-row-repo-name-and-number'] relative-time {
	/* Due to `inline-block` on `.small-user-avatars`, which is used as a "nowrap" container */
	/* https://github.com/refined-github/refined-github/issues/8396 */
	vertical-align: baseline;
}
