.rgh-mention-avatar::before {
	content: '';
	display: inline-block;
	width: 16px !important;
	height: 16px;
	margin-right: 0.2em;
	border-radius: 50%;
	background-image: var(--avatar-url);
	background-size: cover;
	background-position: center;
	vertical-align: middle;
}

.user-mention {
	margin-left: 0px !important;
	margin-right: 0px !important;
}
