.rgh-small-user-avatars {
	display: inline-flex !important;
	justify-content: center !important;
	align-items: center !important;
	width: 1em !important;
	height: 1em !important;
	min-height: 14px;
	min-width: 14px;

	img {
		width: 100%;
		height: 100%;
	}
}

.user-mention {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

[data-testid='list-row-repo-name-and-number'] relative-time {
	/* Due to `inline-block` on `.small-user-avatars`, which is used as a "nowrap" container */
	/* https://github.com/refined-github/refined-github/issues/8396 */
	vertical-align: baseline;
}
