.thread-subscribe-form .btn {
	&:not(.selected) {
		color: var(--fgColor-muted, var(--color-fg-muted, fuchsia));
	}

	&.selected {
		border-color: var(
			--control-borderColor-emphasis,
			var(--color-accent-emphasis, fuchsia)
		);

		.octicon {
			color: var(--fgColor-default, var(--color-fg-default, fuchsia));
		}
	}
}
