/*
Have the calculations available even when the sidebar isn't sticky so that `--rgh-sticky-sidebar-offset` can be used via JS.

Exclusively use simple sums and use `0px` instead of `0`
*/
.application-main {
	--rgh-sticky-header-height: 70px; /* 60px plus some padding */
	--rgh-sticky-sidebar-offset: calc(
		var(--rgh-sticky-header-height, 0px) +
		var(--rgh-sticky-notification-header-height, 0px)
	);
}

/* `isRepoRoot` */
.Layout-sidebar .BorderGrid {
	--rgh-sticky-sidebar-offset: 0;
}

.notification-shelf ~ .application-main {
	/* It needs to be on the same element as above for calc() to work */
	--rgh-sticky-notification-header-height: 69px;
}

.rgh-sticky-sidebar {
	height: min-content;
	&.is-stuck {
		position: sticky;
		top: var(--rgh-sticky-sidebar-offset, 0) !important;
	}
}

/* Higher than sticky readme header https://github.com/refined-github/refined-github/issues/8462 */
.rgh-sticky-sidebar:has(.details-overlay[open]) {
	z-index: 90;
}
