.markdown-body .csv-data {
	max-height: 100vh;
	overflow-y: scroll; /* Force vertical scrollbars to make `width: max-content;` work correctly in Firefox. */
}

.markdown-body .csv-data thead :is(td, th) {
	position: sticky;
	top: 0;
	z-index: 1;
}

.markdown-body .csv-data :is(td, th):first-child {
	position: sticky;
	left: 0;
	z-index: 1;
}

.markdown-body .csv-data thead :is(td, th):first-child {
	z-index: 2;
}

/*
Test URLs:
horizontal + vertical scrolling: https://github.com/fxedel/vaterstetten-in-zahlen/blob/2c3ab1c/data/energie/mastrPhotovoltaik.csv
vertical scrolling only: https://github.com/fxedel/vaterstetten-in-zahlen/blob/2c3ab1c/data/einwohner/lfstatFortschreibungJahre.csv
horizontal scrolling only: https://github.com/microCOVID/microCOVID/blob/181201b/public/prevalence_data/US_50.csv
no scrolling: https://github.com/fxedel/vaterstetten-in-zahlen/blob/2c3ab1c/data/einwohner/lfstatVolkszaehlungen.csv

Exclude:
too large to even show the file contents: https://github.com/mattkinsey/covid19-vaccine-timeseries/blob/cf7362e/vacc-timeseries.csv
too large to make it beautiful and searchable: https://github.com/fxedel/vaterstetten-in-zahlen/blob/2c3ab1c/data/corona-fallzahlen/arcgisInzidenzGemeinden.csv
no commas found: https://github.com/fxedel/vaterstetten-in-zahlen/blob/2c3ab1c/data/kommunalwahl2020/raw/Open-Data-Buergermeisterwahl-Bayern1173.csv
*/
