#js-repo-pjax-container .pagehead ul.pagehead-actions {
	z-index: initial; /* This affects the social buttons. It seems to have no effect but it constantly causes trouble with other features. */
}

.rgh-sticky-sidebar {
	position: sticky;
	top: 0;

	/* `sticky` will trap the `fixed` dialog’s z-index in some sidebars #3732 */
	/* Higher than sticky readme header #4192 */
	z-index: 90;
}

#partial-discussion-sidebar.rgh-sticky-sidebar {
	top: 76px !important; /* Sticky header's height + sidebar item's margin */

	/* Needed so the backdrop of notification modal is over the other elements in the conversation */
	z-index: 1;
}

/* Hides the last divider (on pull requests) to avoid https://user-images.githubusercontent.com/10238474/62282128-af6fb980-b457-11e9-8b18-c29687b88da1.gif */
.rgh-sticky-sidebar + .border-top {
	display: none;
}
