:root {
	--rgh-limit-color: var(--rgh-red, fuchsia);
}

/* Limit width of commit title to 72 characters */
.rgh-suggest-commit-title-limit
:is(
	#commit-summary-input
		/* TODO: Remove after July 2026 */
		#commit-message-input,
	[data-testid='mergebox-partial'] input
) {
	box-sizing: content-box; /* Exclude padding/border from `width`; No need to mess with `calc` */
	width: 72ch;

	/* Like 100%, except it works with content-box and it feels like -webkit-1999 */
	max-width: -webkit-fill-available;
	max-width: -moz-available;
	max-width: intrinsic;
}

#pull_request_title,
/* TODO: Remove next two selectors after July 2026 */
	#commit-summary-input,
#issue_title {
	&.rgh-title-over-limit {
		border-color: var(--rgh-limit-color);
		background-color: color-mix(
			in srgb,
			var(--rgh-limit-color) 3%,
			transparent
		);

		&:focus {
			box-shadow:
				inset 0 1px 2px rgb(35 27 27 / 7.5%),
				0 0 0 0.2em color-mix(in srgb, var(--rgh-limit-color) 30%, transparent);
		}
	}
}

span[class*='prc-components-TextInputWrapper']:has(> .rgh-title-over-limit) {
	border-color: var(--rgh-limit-color);
	outline-color: var(--rgh-limit-color);
	background-color: color-mix(in srgb, var(--rgh-limit-color) 3%, transparent);
}
