:is(#commit-summary-input, #merge_title_field).rgh-title-over-limit {
	border-color: var(--rgh-red);
	background-color: rgb(203 36 49 / 3%);
}

:is(#commit-summary-input, #merge_title_field).rgh-title-over-limit:focus {
	box-shadow: inset 0 1px 2px rgb(35 27 27 / 7.5%), 0 0 0 0.2em rgb(203 36 49 / 30%);
}
