:root {
	--rgh-limit-color: var(--rgh-red, fuchsia);
}

/* Limit width of commit title to 72 characters */
/* Intentionally ignores the PR title to reduce annoyance for people who disagree */
.rgh-suggest-commit-title-limit {
	/* `isPR` */
	[data-testid='mergebox-partial'] input[type='text'] {
		box-sizing: content-box; /* Exclude padding/border from `width`; No need to mess with `calc` */
		width: 72ch;
	}

	/* `isPR`: Tighten input wrapper around input because it has the border style */
	[data-testid='mergebox-partial']
		span[class*='TextInputBaseWrapper'][aria-busy] {
		max-width: min-content;
	}
}

/* Test URL: https://github.com/refined-github/refined-github/pull/9905 */
[class^='prc-PageLayout-Header'] input,
/* Test URL: https://github.com/refined-github/sandbox/compare/default-a...new?expand=1 */
input[name='pull_request[title]'] {
	&.rgh-title-over-limit {
		border-color: var(--rgh-limit-color);
		background-color: color-mix(
			in srgb,
			var(--rgh-limit-color) 3%,
			transparent
		);

		&:focus {
			box-shadow:
				inset 0 1px 2px rgb(35 27 27 / 7.5%),
				0 0 0 0.2em color-mix(in srgb, var(--rgh-limit-color) 30%, transparent);
		}
	}
}

span[class*='TextInputWrapper']:has(> .rgh-title-over-limit) {
	border-color: var(--rgh-limit-color);
	outline-color: var(--rgh-limit-color);
	background-color: color-mix(in srgb, var(--rgh-limit-color) 3%, transparent);
}
