:root .rgh-table-input {
	width: auto;
	padding: 3px;
	z-index: 99;
	display: grid;
	grid-template: repeat(5, 20px) / repeat(5, 20px);
}

:root .rgh-table-input-cell {
	padding: 1px;
}

.rgh-table-input-cell div {
	width: 18px;
	height: 18px;
	border: 2px solid var(--github-border-color);
	border-radius: 2px;
}

.rgh-table-input:hover .selected div {
	border-color: var(--color-state-hover-primary-border, #79b8ff); /* GHE */
	background-color: var(--color-diff-blob-hunk-num-bg, #dbedff); /* GHE */
}
