:root {
	--rgh-table-input-size: 40px;
}

:root:root:root:root .rgh-table-input {
	font-size: var(--rgh-table-input-size);
	padding: 3px;
	z-index: 99;
	display: grid !important;
	grid-template: repeat(5, 1em) / repeat(5, 1em);
	width: fit-content;
	height: fit-content;
	margin: auto;
}

:root .rgh-tic {
	padding: 1px;
}

.rgh-tic div {
	height: 100%;
	border: 2px solid var(--rgh-border-color);
	border-radius: 2px;
}

@media screen and (min-width: 768px) {
	:root {
		/* #6511 */
		--rgh-table-input-size: 20px;
	}
}

.rgh-tic:hover div,
.rgh-tic:is(:nth-of-type(5n + 1)):has(~ :hover:nth-of-type(5n + 1)) div,
.rgh-tic:is(:nth-of-type(5n + 1), :nth-of-type(5n + 2)):has(
		~ :hover:nth-of-type(5n + 2)
	)
	div,
.rgh-tic:is(
		:nth-of-type(5n + 1),
		:nth-of-type(5n + 2),
		:nth-of-type(5n + 3)
	):has(~ :hover:nth-of-type(5n + 3))
	div,
.rgh-tic:is(
		:nth-of-type(5n + 1),
		:nth-of-type(5n + 2),
		:nth-of-type(5n + 3),
		:nth-of-type(5n + 4)
	):has(~ :hover:nth-of-type(5n + 4))
	div,
.rgh-tic:is(
		:nth-of-type(5n + 1),
		:nth-of-type(5n + 2),
		:nth-of-type(5n + 3),
		:nth-of-type(5n + 4),
		:nth-of-type(5n + 5)
	):has(~ :hover:nth-of-type(5n + 5))
	div {
	border-color: #79b8ff;
	background-color: var(--color-diff-blob-hunk-num-bg, #dbedff);
}

/* https://github.com/refined-github/refined-github/issues/6515 */
.rgh-table-input .sentinel {
	display: none;
}
