/* Drop unneeded elements */
:root .rgh-tags-dropdown :is(.SelectMenu-tabs, .SelectMenu-header) {
	display: none;
}

/* Make dropdown smaller, if possible */
:root .rgh-tags-dropdown .select-menu-modal {
	width: max-content; /* Default: 300px */
	min-width: 150px;
	max-width: 300px;
}

/* Limit dropdown height */
:root .rgh-tags-dropdown .SelectMenu-list {
	max-height: 300px !important;
}

/* Fix layout breakage on smaller screens */
@media (min-width: 544px) and (max-width: 566px) {
	nav[aria-label='Releases and Tags navigation buttons'] {
		flex-basis: auto !important;
		flex-shrink: 0 !important;
	}

	nav[aria-label='Releases and Tags navigation buttons'] + .d-flex > .flex-sm-self-end {
		align-self: flex-start !important;
	}
}
