/* Drop unneeded elements */
:root .rgh-tags-dropdown .select-menu-tab,
:root .rgh-tags-dropdown .select-menu-header {
	display: none;
}

/* Make dropdown smaller, if possible */
:root .rgh-tags-dropdown .select-menu-modal {
	width: max-content;  /* Default: 300px */
	min-width: 150px;
	max-width: 300px;
}
