/* Drop unneeded elements */
:root .rgh-tags-dropdown :is(.SelectMenu-tabs, .SelectMenu-header) {
	display: none;
}

/* Make dropdown smaller, if possible */
:root .rgh-tags-dropdown .select-menu-modal {
	width: max-content; /* Default: 300px */
	min-width: 150px;
	max-width: 300px;
}

/* Space out buttons on Releases page */
.subnav > .float-right {
	margin-left: 20px;
}
