:root .rgh-toggle-files {
	margin: -8px 0;
	margin-right: -10px;
	padding: 10px 13px;
}
.rgh-files-hidden .commit-tease {
	border-radius: 3px;
}
.repository-content:not(.rgh-files-hidden) .commit-tease .octicon-chevron-down {
	transform: rotate(0.5turn);
}
.rgh-files-hidden .files {
	display: none;
}
.rgh-files-hidden .file-wrap {
	border: none;
}
