:root .rgh-toggle-files {
	margin-block: -8px;
	margin-inline: 0;
	margin-inline-end: -10px;
	padding-block: 10px;
	padding-inline: 13px;
}

.repository-content:not(.rgh-files-hidden) .rgh-toggle-files .octicon-unfold,
.repository-content.rgh-files-hidden .rgh-toggle-files .octicon-fold {
	display: none !important;
}

.rgh-files-hidden #files ~ .Details {
	display: none;
}

.rgh-files-hidden .Box-header {
	border-radius: 6px;
	border-block-end: none;
}
