:root .rgh-toggle-files {
	margin: -8px 0;
	margin-right: -10px;
	padding: 10px 13px;
}

body:not(.rgh-files-hidden) .rgh-toggle-files .octicon-unfold,
body.rgh-files-hidden .rgh-toggle-files .octicon-fold {
	display: none !important;
}

.rgh-files-hidden #files ~ :is(
	.Details, /* Loaded */
	include-fragment[src*="/file-list/"] /* Loading skeleton */
) {
	display: none;
}

.rgh-files-hidden .Box-header {
	border-radius: 6px;
	border-bottom: none;
}
