:root .rgh-toggle-files {
	margin: -8px 0;
	margin-right: -10px;
	padding: 10px 13px;
}

.rgh-files-hidden .commit-tease {
	border-radius: 3px;
}

.repository-content:not(.rgh-files-hidden) .commit-tease .octicon-unfold,
.repository-content.rgh-files-hidden .commit-tease .octicon-fold {
	display: none;
}

.rgh-files-hidden .files, /* Pre "Repository refresh" layout */
.rgh-files-hidden #files ~ .Details {
	display: none;
}

.rgh-files-hidden .file-wrap {
	border: none;
}
