:root .rgh-toggle-files {
	margin: -8px 0;
	margin-right: -10px;
	padding: 10px 13px;
}

body:not(.rgh-files-hidden) .rgh-toggle-files .octicon-chevron-up,
body.rgh-files-hidden .rgh-toggle-files .octicon-chevron-down {
	display: none !important;
}

.rgh-files-hidden .react-directory-row {
	display: none;
}

.rgh-files-hidden .bgColor-muted.p-1.rounded-top-2 {
	border-radius: var(--borderRadius-medium, 6px);
}
