/* Remove upload message on comment box */
.rgh-has-upload-field .is-default .drag-and-drop {
	display: none;
}

.rgh-has-upload-field .is-default textarea {
	border-bottom-style: solid;
	border-radius: 3px;
}
