.rgh-follower-badge {
	font-size: 10px;
	display: block;
	animation: fade-in 0.2s;
	clear: both;
	/* Avoid jumping */
	margin-bottom: -15px;
	position: relative;
	bottom: 12.5px;
}

.user-profile-bio {
	margin-top: 5px;
}

.js-user-profile-follow-button {
	margin-top: 5px;
}
