.release-entry .hidden-text-expander,
.commit .hidden-text-expander {
	display: none !important;
}

.commit > ul > li.rgh-what-changed {
	display: inline-block;
	margin-top: 4px;
	margin-right: 8px;
}

.rgh-what-changed {
	cursor: pointer;
	font-size: 12px;
}
