.commit > ul > li.rgh-what-changed {
	display: inline-block;
	margin-top: 4px;
	margin-right: 8px;
}

.release > div:first-child > ul > li.rgh-what-changed {
	margin-bottom: 4px;
}

.rgh-what-changed {
	cursor: pointer;
	font-size: 12px;
}
