/* Expand issue search field width */
.subnav-search,
.subnav-search-input,
.subnav [role='search'],
.page-content .subnav > .float-right { /* Global search field container */
	flex-grow: 1;
	display: flex;
	font: none !important;
	align-items: flex-start;
}

/* On Releases page, add margin between buttons */
.subnav .float-right {
	order: 100;
	margin-left: 20px;
}

/* On Releases page, use flex to align buttons */
.subnav {
	display: flex;
}

/* On Releases page, push extra buttons to the right. */
.subnav > :first-child:not(a) {
	margin-right: auto;
}

/* On `Issues` and `Pull Requests` page, expand search field width */
.d-flex[role='search'] {
	flex-grow: 1;
}

/* On `Issues` and `Pull Requests` page, add margin-left to `New Issue` and `New Pull Request` button */
.subnav > .btn-primary {
	margin-left: 20px;
}

/* Reset width of search field in global lists */
.page-content .subnav-search-input-wide {
	width: auto;
}

/* Hide `Filters` text in repo lists */
.subnav-search-context summary {
	display: flex;
	width: 2.4em;
	text-indent: -10000px;
}

/* Hide `Filters` text in repo lists: center dropdown triangle */
.subnav-search-context summary::after {
	float: right;
	margin-top: 0.6em;
	transform: scale(1.2);
}

/* Hide icons in `Labels`/`Milestones` buttons */
.subnav-item svg {
	display: none;
}
