/*
This feature has to work on:
https://github.com/issues
https://github.com/pulls
https://github.com/sindresorhus/refined-github/issues
https://github.com/sindresorhus/refined-github/pulls

But not affect these pages, because they also use `.subnav` but don't benefit from a larger field
https://github.com/sindresorhus/refined-github/releases
https://github.com/sindresorhus/refined-github/tags
https://github.com/sindresorhus/refined-github/labels
https://github.com/sindresorhus/refined-github/milestones
https://github.com/sindresorhus/refined-github/releases/tag/19.9.16
*/

/* Expand issue search field width */
.repository-content [role='search'], /* Repo issue/PR lists */
.subnav-links + .float-right, /* Global search pages */
.subnav-search,
.subnav-search-input {
	flex-grow: 1;
	display: flex;
	align-items: flex-start;
}

/* Global search, labels: enable field expansion */
.page-content > .subnav:first-child {
	display: flex;
}

/* Space out buttons */
.subnav > .float-right, /* On Releases page */
.subnav > .btn-primary { /* On `Issues` and `Pull Requests` pages */
	margin-left: 20px;
}

/* Releases: place Releases/Tags selector on the same line as `Draft new release` (GitHub bug) */
.subnav .d-flex.flex-md-row.flex-justify-between.flex-md-items-center {
	float: left;
}

/* Reset width of search field in global lists */
.page-content .subnav-search-input-wide {
	width: auto;
}

/* Hide `Filters` text in repo lists */
.subnav-search-context summary {
	display: flex;
	width: 2.4em;
	text-indent: -10000px;
}

/* Hide `Filters` text in repo lists: center dropdown triangle */
.subnav-search-context summary::after {
	float: right;
	margin-top: 0.6em;
	transform: scale(1.2);
}

/* Hide icons in `Labels`/`Milestones` buttons */
.subnav-item svg {
	display: none;
}
