/* Expand issue search field width */
.subnav,
.subnav-search,
.subnav-search-input,
.subnav [role='search'],
.page-content .subnav > .float-right { /* Global search field container */
	flex-grow: 1;
	display: flex;
	font: none !important;
}

/* Move `New issue` button back to the right */
.subnav .btn-primary {
	order: 100;
	margin-left: 20px;
}

/* Move extra buttons to the right on Releases */
.subnav-links {
	margin-right: auto;
}

/* Reset width of search field in global lists */
.page-content .subnav-search-input-wide {
	width: auto;
}

/* Hide `Filters` text in repo lists */
.subnav-search-context summary {
	display: flex;
	width: 2.4em;
	text-indent: -10000px;
}

/* Hide `Filters` text in repo lists: center dropdown triangle */
.subnav-search-context summary::after {
	float: right;
	margin-top: 0.6em;
	transform: scale(1.2);
}

/* Hide icons in `Labels`/`Milestones` buttons */
.subnav-item svg {
	display: none;
}
