:root {
	min-width: 550px;
	max-width: 700px;
	margin: auto;
}

input[type='number'],
input[type='password'],
input[type='search'],
input[type='text'],
input[type='url'],
input:not([type]),
textarea {
	display: block;
	box-sizing: border-box;
	margin-left: 0;
	width: 100%;
	resize: vertical;
	-moz-tab-size: 4 !important;
	tab-size: 4 !important;
}

textarea:not(*:root):focus {
	/* Selector for Chrome only http://browserhacks.com/#ch */
	/* Missing from Chrome’s style https://github.com/chromium/chromium/blob/6bea0557fe67c9196dd2ec083e95fc5807674c87/extensions/renderer/resources/extension.css#L287 */
	border-color: #4d90fe;
	transition: border-color 200ms;
}

input[type='checkbox'] {
	vertical-align: -0.16em;
}

hr {
	margin-right: -17px;
	margin-left: -17px;
	border: none;
	border-bottom: 1px solid #0000000f;
}

@-moz-document url-prefix('') {
	body > * {
		margin-left: 6px;
		margin-right: 6px;
	}

	hr {
		margin-left: 0;
		margin-right: 0;
	}

	input[type='checkbox'] {
		vertical-align: -41%; /* use em */
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--secondary-text-color: #9aa0a6;
		--input-border-color: #0000004d;
		background-color: var(--in-content-box-background, #292a2d);
	}

	input[type='number'],
	input[type='password'],
	input[type='search'],
	input[type='text'],
	input[type='url'],
	input:not([type]),
	textarea {
		color: inherit;
		background-color: transparent;
	}

	body {
		/* Chrome requires it on body */
		color: var(--in-content-page-color, #e8eaed);
	}
	a {
		color: var(--in-content-link-color, #8ab4f8);
	}
	hr {
		border-color: #ffffff1a;
	}
}
