:root {
	--github-green: #28a745;
	--github-red: #cb2431;
	--github-gray-background: #fafbfc;
	--github-gray-text: #6a737d;
	--github-faint-yellow: #fffbdd;
}

/* Fade out the file icons */
.file-wrap .files .octicon {
	opacity: 0.6;
}

/* Hide unnecessary comment toolbar items */
:root md-mention,
:root md-ref,
markdown-toolbar > :nth-last-child(4) { /* H1, B, I */
	display: none;
}

/* Make tab indented code more readable on GitHub and Gist */
* {
	-moz-tab-size: 4 !important;
	tab-size: 4 !important;
}

/* Collapse multiple discussion items */
.discussion-item + .discussion-item {
	padding-top: 0 !important;
	border-top: none !important;
}

/* For `open-all-selected` and `filter-pr-by-build-status`: set a reduced padding for all buttons for #1830 and #1904 */
.table-list-filters .table-list-header-toggle .select-menu-button {
	padding-right: 8px;
	padding-left: 8px;
}

/* Hide empty description of repo */
.repository-meta.mb-3 > .repository-meta-content > em {
	display: none !important;
}

/* Hide marketplace navbar button */
.Header-link[href='/marketplace'] {
	display: none !important;
}

/* Remove user avatar from new comment form on threads */
.review-thread-reply .avatar {
	display: none;
}
.review-thread-reply .review-thread-reply-button {
	margin-left: 0;
}

/* Hide inactive deployment events */
.discussion-item.rgh-inactive-deployment {
	display: none;
}

/* Hide `New pull request button` near file list */
.file-navigation .new-pull-request-btn {
	display: none;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

/* Smoothen mouse animation on 404 pages */
.js-plaxify {
	transition: transform 0.1s;
}

/* Remove "Seeing something unexpected?" from user profiles */
#js-contribution-activity .js-show-more-timeline-form > p {
	display: none;
}

/* Remove the 'Review Summary' header from the form */
.pull-request-review-menu label[for='pull_request_review_body'] {
	display: none !important;
}

/* Lighten deletions in Markdown */
.markdown-body del {
	color: #6a737d;
}

/* Expand PR merge status list to fit all items instead of just 5 */
:root .branch-action-item.open > .merge-status-list {
	max-height: none;
}

/* Make <details> visibly clickable */
.markdown-body summary, /* Summary elements are always clickable when present */
.markdown-body details:not([open]) { /* Summary-less details have unselectable clickable elements */
	cursor: pointer;
}

/* Remove the "New repository" button in the dashboard sidebar */
.dashboard-sidebar a[href='/new'] {
	display: none;
}
.dashboard-sidebar .Box-title {
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}

/* Expand empty diffs in PRs */
:root .file .data.empty {
	padding: 54px;
	text-align: center;
}

/* Improve dropdown expansion animation (e.g. top-right dropdown in comments) */
/* It normally pops in from the center */
.dropdown-menu-sw {
	transform-origin: 90% top;
}
