:root {
	--github-green: #28a745;
	--github-red: #cb2431;
	--github-gray-background: #fafbfc;
	--github-gray-text: #6a737d;
	--github-faint-yellow: #fffbdd;
}

/* Remove tooltips where unnecessary */
[aria-label^='View the whole file']::before,
[aria-label^='View the whole file']::after,
[aria-label^='Change this file']::before,
[aria-label^='Change this file']::after,
[aria-label='Delete this file']::before,
[aria-label='Delete this file']::after,
[aria-label='Edit this file']::before,
[aria-label='Edit this file']::after,
[aria-label='Edit comment']::before,
[aria-label='Edit comment']::after,
.notification-indicator::before,
.notification-indicator::after {
	display: none !important;
}

.rgh-markdown-source .blame-commit,
.rgh-markdown-source .blob-reblame {
	display: none;
}

.rgh-markdown-source .blame-hunk {
	border-bottom: none !important;
}

/* Fade out the file icons */
.file-wrap .files .octicon {
	opacity: 0.6;
}

/* For `rgh-no-navigation-highlight` */
.rgh-no-navigation-highlight .list-group-item.navigation-focus, /* Notifications list */
.rgh-no-navigation-highlight .Box-row.navigation-focus, /* Issue list */
.rgh-no-navigation-highlight .navigation-focus td { /* File list  */
	background: none !important;
}

/* Visibly disable merge fields during submission for `wait-for-build` */
[name='commit_message'][disabled],
[name='commit_title'][disabled] {
	color: #808080;
}

/* Fix bug caused by `resolve-conflicts` https://user-images.githubusercontent.com/1402241/54978279-d6663c80-4fda-11e9-9638-af25480fb988.png */
.rgh-resolve-conflicts .CodeMirror-linenumber {
	background-color: var(--github-faint-yellow);
}

/* Hide unnecessary comment toolbar items */
:root md-mention,
:root md-ref,
markdown-toolbar > :nth-last-child(4) { /* H1, B, I */
	display: none;
}

/* Remove upload message on comment box for `upload-button` */
.rgh-has-upload-field .is-default .drag-and-drop {
	display: none;
}
.rgh-has-upload-field .is-default textarea {
	border-bottom-style: solid;
	border-radius: 3px;
}

/* Remove random protip at the bottom of the page */
.protip {
	display: none !important;
}

/* Remove message under the `Unsubscribe` button */
.sidebar-notifications .reason {
	display: none !important;
}

/* Add hover underline for `linkify-branch-refs` */
a .commit-ref:hover,
a .commit-ref:hover span {
	text-decoration: underline !important;
}

.commit-ref span {
	/* The extra span on branch names interferes with a possible deletion line-through */
	text-decoration: inherit;
}

/* Hide the header in README section */
.repository-content #readme:not(.blob) {
	position: relative;
}

.repository-content #readme:not(.blob) .Box-header {
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	padding: 0 !important;
	border: none;
}

.repository-content #readme:not(.blob) .Box-header .Box-title {
	display: none;
}

.repository-content #readme:not(.blob) .Box-header .btn-octicon {
	margin: 0;
	padding: 12px;
	right: 0;
	top: 0;
	opacity: 0.2;
	transition: opacity 250ms;
}

.repository-content #readme:not(.blob) .Box-header .btn-octicon:hover,
.repository-content #readme:not(.blob) .Box-header .btn-octicon:focus {
	opacity: 1;
}

/*
For `hide-useless-newsfeed-events`
Hide news items when people:
pushed to a branch
deleted a branch
added someone as a collaborator
forked a repo
followed someone
*/
.rgh-no-useless-events .news .push,
.rgh-no-useless-events .news .fork,
.rgh-no-useless-events .news .delete,
.rgh-no-useless-events .news .follow {
	display: none !important;
}

/* Fade out merge commits from commit list for `mark-merge-commits-in-list` */
.refined-github-merge-commit .commit-title,
.refined-github-merge-commit .commit-meta > div:not(.commit-indicator),
.refined-github-merge-commit .commit-build-statuses > summary {
	opacity: 0.7;
}

.refined-github-merge-commit .octicon-git-pull-request {
	color: #4078c0;
	width: 20px;
}

/* Limit width of commit title to 70 characters */
.rgh-monospace-textareas #merge_title_field,
.rgh-monospace-textareas #commit-summary-input {
	width: 70ch;
}

.rgh-monospace-textareas #merge_title_field,
.rgh-monospace-textareas #commit-summary-input,
.rgh-monospace-textareas textarea {
	font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
	font-size: 13px;
}

/* For `fit-textareas` feature */
.rgh-fit-textareas {
	max-height: none !important;
}

/* Make tab indented code more readable on GitHub and Gist */
* {
	-moz-tab-size: 4 !important;
	tab-size: 4 !important;
}

/* Larger comment box */
.comment-form-textarea {
	min-height: 200px !important;
}

/* Collapse multiple discussion items */
.discussion-item + .discussion-item {
	padding-top: 0 !important;
	border-top: none !important;
}

/* Remove "pro tip!" box on profile page (appears when name isn't set) */
.new-user-avatar-cta {
	display: none !important;
}

/* Multiple comment labels margin */
.timeline-comment .timeline-comment-label + .timeline-comment-label {
	margin-right: -5px;
}

.review-comment .timeline-comment-label + .timeline-comment-label {
	margin-left: 5px;
}

/* For `open-all-selected` and `filter-pr-by-build-status`: set a reduced padding for all buttons for #1830 and #1904 */
.table-list-filters .table-list-header-toggle .select-menu-button {
	padding-right: 8px;
	padding-left: 8px;
}

/* Remove Marketplace marketing box on PRs */
.js-marketplace-callout-container {
	display: none !important;
}

/* Remove the "Styling with Markdown is supported" link when a PR comment is in edit mode */
a.tabnav-extra[href$='mastering-markdown/'] {
	display: none !important;
}

/* Hide empty description of repo */
.repository-meta.mb-3 > .repository-meta-content > em {
	display: none !important;
}

/* Hide marketplace navbar button */
.Header-link[href='/marketplace'] {
	display: none !important;
}

/* Remove user avatar from new comment form on threads */
.review-thread-reply .avatar {
	display: none;
}
.review-thread-reply .review-thread-reply-button {
	margin-left: 0;
}

/* Move labels in the Issue/PR list below the title */
.js-issue-row .lh-condensed {
	display: flex;
	flex-wrap: wrap;
}
.js-issue-row .labels {
	order: 1;
}
.js-issue-row .h4, /* Title */
.js-issue-row .d-inline-block.mr-1 {  /* Build status */
	padding-right: 4px; /* Space before the build status */
}
.js-issue-row .mt-1.text-small.text-gray { /* Issue details line */
	flex-basis: 100%;
}
.js-issue-row .h4 { /* Title */
	max-width: 100%; /* #1518 */
}
.js-issue-row .IssueLabel {
	padding: 2px 3px 3px !important;
	margin-top: 4px;
	font-size: 11px !important;
}

/* Show approvals count in PR list */
.js-issue-row .text-gray [aria-label*='approval'] {
	font-size: 0;
}
.js-issue-row .text-gray [aria-label*='approval']::before {
	all: unset;
	content: attr(aria-label);
	display: inline !important;
	color: var(--github-green);
	font-size: 12px;
}
.js-issue-row .text-gray [aria-label*='changes'] {
	color: var(--github-red) !important;
}

/* Hide inactive deployment events */
.discussion-item.rgh-inactive-deployment {
	display: none;
}

/* Hide `New pull request button` near file list */
.file-navigation .new-pull-request-btn {
	display: none;
}

/* Remove annoying "helpful" banner on the issue tracker listing */
.repository-content .mb-4.js-notice {
	display: none !important;
}

/* Remove annoying "helpful" popover on the repo label page */
.labels-list .TutorialPopover {
	display: none !important;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

/* Fix subpixel rendering Chrome bug in tooltips' triangles */
.tooltipped:hover::before,
.tooltipped:hover::after,
.tooltipped:active::before,
.tooltipped:active::after,
.tooltipped:focus::before,
.tooltipped:focus::after {
	opacity: 1;
	animation-fill-mode: backwards !important;
}

/* Smoothen mouse animation on 404 pages */
.js-plaxify {
	transition: transform 0.1s;
}

/* Remove "Seeing something unexpected?" from user profiles */
#js-contribution-activity .js-show-more-timeline-form > p {
	display: none;
}

/* Remove the 'Review Summary' header from the form */
.pull-request-review-menu label[for='pull_request_review_body'] {
	display: none !important;
}

/* Lighten deletions in Markdown */
.markdown-body del {
	color: #6a737d;
}

/* Expand PR merge status list to fit all items instead of just 5 */
:root .branch-action-item.open > .merge-status-list {
	max-height: none;
}

/* Make <details> visibly clickable */
.markdown-body summary, /* Summary elements are always clickable when present */
.markdown-body details:not([open]) { /* Summary-less details have unselectable clickable elements */
	cursor: pointer;
}

.notifications-list .boxed-group-action {
	margin: 5px 6px;
}

.notifications-list .boxed-group-action button {
	padding: 3px 10px;
	border: none;
	margin-left: 2px;
	color: #586069;
	background: none;
}

.mark-all-as-read-confirmed .open-repo-notifications {
	visibility: hidden;
}

/* Remove the useless "Continuous integration has not been set up" message on PRs */
.branch-action-item.marketplace-product-callout {
	display: none;
}

/* Remove the "New repository" button in the dashboard sidebar */
.dashboard-sidebar a[href='/new'] {
	display: none;
}
.dashboard-sidebar .Box-title {
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}

/* Expand empty diffs in PRs */
:root .file .data.empty {
	padding: 54px;
	text-align: center;
}

/* Improve dropdown expansion animation (e.g. top-right dropdown in comments) */
/* It normally pops in from the center */
.dropdown-menu-sw {
	transform-origin: 90% top;
}

/* Fix wrapping text on tabs when profile-gists-link feature is enabled #1757 */
.UnderlineNav-item:nth-last-child(n+7),
.UnderlineNav-item:nth-last-child(n+7) ~ * {
	margin-right: 6px;
}
