@media not screen and (width: 400px) { /* Excludes Edge */
	:root {
		min-width: 550px;
	}
}

/* For iOS Safari */
@media only screen and (max-device-width: 1000px) {
	:root {
		min-width: 0;
	}
}

:root {
	--rgh-red: #cf222e;
}

html::after {
	/* Add some extra scroll to the page to reduce section toggle jumps/scroll */
	content: '';
	display: block;
	height: 50vh;
	background: url('icon.png') center no-repeat;
	filter: opacity(0.1) saturate(0) brightness(1.2);
}

@media (prefers-color-scheme: dark) {
	:root {
		--rgh-red: #f85149;
	}
}

p {
	margin-top: 0;
}

ul {
	padding-left: 0;
	list-style: none;
}

li[data-validation] {
	margin-bottom: 0.3em;
}

details {
	margin-bottom: 1em;
}

details[open] {
	--border-left: 4px;
	border-left: solid var(--border-left) #aaa4;
	padding-bottom: 1px;
}

summary {
	--summary-padding: 10px;
	background: #aaa1;
	list-style: none;
	padding: var(--summary-padding);
	cursor: pointer;
}

summary::-webkit-details-marker {
	display: none; /* Just for Safari. Chrome uses `list-style` */
}

summary:hover {
	background: #aaa4;
}

details[open] summary {
	margin-bottom: 10px;
	padding-left: calc(var(--summary-padding) - var(--border-left));
}

details[open] > :not(summary) {
	margin-left: 10px;
}

[data-validation]::before {
	content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" fill="gray" d="M8 5.5a2.5 2.5 0 100 5 2.5 2.5 0 000-5zM4 8a4 4 0 118 0 4 4 0 01-8 0z"></path></svg>');
	width: 16px;
	height: 16px;
	vertical-align: -4px;
	margin-right: 0.3em;
	display: inline-block;
}

[data-validation='valid']::before {
	content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" fill="%2328a745" d="M8 16A8 8 0 108 0a8 8 0 000 16zm3.78-9.72a.75.75 0 00-1.06-1.06L6.75 9.19 5.28 7.72a.75.75 0 00-1.06 1.06l2 2a.75.75 0 001.06 0l4.5-4.5z"></path></svg>');
}

[data-validation='invalid']::before {
	content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" fill="%23cb2431" d="M1.5 8a6.5 6.5 0 0110.535-5.096l-9.131 9.131A6.472 6.472 0 011.5 8zm2.465 5.096a6.5 6.5 0 009.131-9.131l-9.131 9.131zM8 0a8 8 0 100 16A8 8 0 008 0z"></path></svg>');
}

:root [name='customCSS'],
:root [name='personalToken'] {
	/* Same as GitHub style for `code` */
	font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace !important;
	font-size: 11px;
	line-height: 1.5;
}

[name='personalToken'] {
	width: 20em !important; /* https://github.com/refined-github/refined-github/issues/1374#issuecomment-397906701 */
	display: inline-block !important;
}

[name='personalToken']:invalid {
	border-color: var(--rgh-red) !important;
}

.feature:not([hidden]) {
	display: flex;
}

.js-features input[type='checkbox'] {
	flex-shrink: 0;
}

.js-features input[type='checkbox']:not(*:root) {
	/* Selector for Chrome only http://browserhacks.com/#ch */
	margin-inline-end: 0.6em;
	margin-top: 2px;
}

.js-features :not(:checked) + .info .feature-name {
	text-decoration: line-through;
}

.js-features .description {
	opacity: 80%;
}

.feature-link {
	margin: 0 0.6em;
}

.js-features .info {
	flex-grow: 1;
}

.js-features kbd {
	display: inline-block;
	padding: 3px 5px;
	font-size: 0.8em;
	line-height: 10px;
	color: #444d56;
	vertical-align: middle;
	background-color: #fafbfc;
	border: 1px solid #d1d5da;
	border-radius: 6px;
	box-shadow: inset 0 -1px 0 #d1d5da;
}

.feature-checkbox:disabled + .info > *:not(.hotfix-notice) {
	opacity: 50%;
}

.screenshot {
	max-width: 100%;
	margin-bottom: 2em;
	border: 1px solid #d1d5da;
	border-radius: 0.5em;
	min-width: 2em;
	min-height: 2em;
}

.screenshot-toggle:checked ~ .screenshot-link {
	font-style: italic;
}

.screenshot-toggle:checked ~ .screenshot {
	display: block;
}
