#js-failed + form {
	display: none;
}

:root {
	--rgh-red: #cf222e;
	--content-width: 750px; /* Sync with media query below */
	--viewport-margin: 30px;

	max-width: none;
}

body {
	margin: 0;
}

form {
	max-width: var(--content-width);
	margin: auto;
	padding-block: 1em;
}

html::after {
	/* Add some extra scroll to the page to reduce section toggle jumps/scroll */
	content: '';
	display: block;
	height: 50vh;
	background: url('icon.png') center no-repeat;
	filter: opacity(0.1) saturate(0) brightness(1.2);
}

@media (prefers-color-scheme: dark) {
	:root {
		--rgh-red: #f85149;
	}
}

p,
ul {
	margin-top: 0;
}

/* :not() due to https://github.com/refined-github/refined-github/issues/8062 */
p:last-child:not(.info p),
ul:last-child {
	margin-bottom: 0;
}

storage-usage {
	font-style: italic;
}

small {
	opacity: 80%;
}

details {
	margin-bottom: 1em;

	--border-radius: 6px;

	border: solid 1px transparent;
	border-radius: var(--border-radius);

	/* Sync with --content-width */
	@media (width <= 750px) {
		border-width: 0;
	}

	&[open] {
		border-color: light-dark(#d2d9e0, #3d444d);
	}
}

details > div {
	padding: 10px;
}

summary {
	--summary-padding: 10px;

	position: sticky;
	top: 0;
	z-index: 1;
	background: light-dark(#f6f8fa, #141415);
	list-style: none;
	padding: var(--summary-padding);

	[open] & {
		border-top-left-radius: var(--border-radius);
		border-top-right-radius: var(--border-radius);
	}
}

summary::-webkit-details-marker {
	display: none; /* Just for Safari. Chrome uses `list-style` */
}

summary:hover {
	background: light-dark(#e3e9ef, #0e1012);
}

[name='customCSS'] {
	font-size: 11px;
}

.feature:not([hidden]) {
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	gap: 0 0.4em;
}

.feature input[type='checkbox'] {
	flex-shrink: 0;
}

.feature-checkbox:not(:checked) + .info .feature-name {
	text-decoration: line-through;
}

.feature:has(.feature-checkbox:disabled) > *:not(.hotfix-notice) {
	opacity: 50%;
}

.feature .info {
	flex: 1;
}

.feature .description {
	opacity: 80%;
}

.feature-link {
	margin: 0 0.6em;
}

.screenshot {
	max-width: 100%;
	margin-bottom: 2em;
	border: 1px solid #d1d5da;
	border-radius: 0.5em;
	min-width: 2em;
	min-height: 2em;
}

.screenshot-toggle:checked ~ .screenshot-link {
	font-style: italic;
}

.screenshot-toggle:checked ~ .screenshot {
	display: block;
}

/* Hide "Button link" on GHE domains https://github.com/refined-github/refined-github/issues/7704 */
.OptionsSyncPerDomain-picker:has([value='default']:not(:checked)) ~ #action {
	display: none;
}
