body {
	min-width: 430px; /* Required to size the Browser Action popup */
}
textarea {
	display: block;
	width: 100%;
	font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
	font-size: 11px;
	line-height: 1.5;
	resize: vertical;
	-moz-tab-size: 4 !important;
	tab-size: 4 !important;
}
input[type='checkbox'] {
	vertical-align: -0.16em;
}
.small {
	font-size: 0.9em;
}

hr {
	margin-right: -17px;
	margin-left: -17px;
	border: none;
	border-bottom: solid #d3d3d3 1px;
}

/* Increase spacing between sections */
h2 ~ h2 {
	margin-top: 2em;
}

/* Firefox only */
.only-firefox {
	display: none;
}
@-moz-document url-prefix('') {
	:root h2 {
		font-weight: normal;
	}
	:root body {
		font: message-box, sans-serif;
	}
	input[type='checkbox'] {
		vertical-align: -41%;
	}
	.no-firefox {
		display: none;
	}
	.only-firefox {
		display: block;
	}
}

