:root {
	--rgh-green: var(--fgColor-success, var(--color-success-fg, #1a7f37));
	--rgh-red: var(--fgColor-danger, var(--color-danger-fg, #cf222e));
	--rgh-yellow: var(--fgColor-attention, #c69026);
	--rgh-border-color: var(
		--borderColor-muted,
		var(--color-border-muted, #d8dee4)
	);
	--rgh-background: var(--bgColor-default, var(--color-canvas-default, #fff));
}

/* For `open-all-selected` and `pr-filters`: set a reduced padding for all buttons for #1830 and #1904 */
#js-issues-toolbar .table-list-header-toggle details {
	padding: 0 !important;
}

#js-issues-toolbar .table-list-header-toggle summary {
	padding-left: 8px !important;
	padding-right: 8px !important;
}

#js-issues-toolbar .table-list-header-toggle > :last-child > summary {
	padding-right: 0 !important;
}

/* For `open-all-notifications` and `select-notifications`: allow header wrapping #5705

Selector works on:
https://github.com/notifications (Grouped by date)
https://github.com/notifications (Grouped by repo)
https://github.com/notifications?query=reason%3Acomment (which is an unsaved filter)
*/
.js-check-all-container .js-bulk-action-toasts ~ div .Box-header {
	flex-wrap: wrap;
	height: auto !important; /* Unset the default height to allow wrapping */
	min-height: 52px; /* Re-set the default height as a minimum height */
}

:is(
		.js-notifications-mark-selected-actions,
		.js-notifications-mark-all-actions
	):not([hidden]) {
	display: contents !important;
}

[alt='404 “This is not the web page you are looking for”'] {
	animation: fade-in 2s ease-out;
}

/* Lighten deletions in Markdown */
.markdown-body del {
	color: var(--fgColor-muted, var(--color-fg-muted, fuchsia));
}

/* Expand empty diffs in PRs */
:root .file .data.empty {
	padding: 54px;
	text-align: center;
}

:root .file .data table {
	text-align: left;
}

/* Improve dropdown expansion animation (e.g. top-right dropdown in comments) */
/* It normally pops in from the center */
.dropdown-menu-sw {
	transform-origin: 90% top;
}

/* Improve spacing in conversation lists meta, made feel crowded by:
conversation-authors
parse-backticks
pr-branches
*/
.js-issue-row .text-small.color-fg-muted {
	line-height: 1.8;
}

/* Reset `vertical-align` for .octicons to work with above increased line-height */
.js-issue-row .text-small.color-fg-muted .octicon {
	vertical-align: middle;
}

/* TODO: Drop after legacy PR files view is removed */
/* Keep diff stats in "Jump to" dropdown when the header is fixed #3925 */
.select-menu-item-text .diffstat {
	display: inline !important;
}

/* Style the "Find feature" dialog that appears on top of the page */
#rgh-bisect-dialog {
	position: fixed;
	bottom: 50%;
	right: 50%;
	transform: translate(50%, 50%);
	min-width: 380px; /* Avoids a width change on the last step which causes the YES button to be where NO was */
	box-shadow: var(
		--shadow-floating-large,
		var(--color-shadow-large, var(--color-toast-shadow))
	);
	z-index: 2147483647;
}

/* TODO: Drop after July 2026 */
/* Space out "Edit" and "Open with" buttons on PR page, also for `view-last-pr-deployment` #4281 */
.gh-header-actions [aria-label='Edit Pull Request title'] {
	margin-left: 4px !important;
	margin-right: 4px !important;
}

/* Bold username in conversation lists #4899 */
/* Test: https://github.com/refined-github/refined-github/pulls */
/* Test: https://github.com/refined-github/refined-github/issues */
:is(.js-issue-row, span[class^='PinnedIssue-module__issueMetadata'])
	a[data-hovercard-type='user'],
a[class^='IssueItem-module__authorCreatedLink'] {
	font-weight: 600;
}

.rgh-bg-none {
	background: none !important;
}

.rgh-z-index-5 {
	position: relative;
	z-index: 5;
}

/* Increase size of profile picture in user hovercard by 1.5x (default is 48px) #7695 */
/* Test: https://github.com/refined-github/refined-github */
.user-hovercard-avatar > img.d-block.avatar-user {
	width: 72px;
	height: 72px;
}

/* Make the gray "Star" icon in the feed yellow */
/* Info: https://github.com/refined-github/refined-github/pull/8407 */
/* Test: https://github.com/feed */
.octicon-star-fill {
	color: var(--button-star-iconColor);
}

/* Add hover effect to attachment row on the release page #8339 */
/* Test: https://github.com/refined-github/refined-github/releases/tag/25.7.16 */
@media (min-width: 800px) {
	.Box-footer
		.Box--condensed
		li:has(.octicon-package, .octicon-file-zip):hover {
		background-color: var(--bgColor-muted, fuchsia);
		&:first-of-type {
			border-top-color: var(--borderColor-muted, fuchsia);
		}
	}
}

.rgh-anchored-link {
	position: absolute !important;
	position-area: center;
	z-index: 2;
	pointer-events: auto;
	/* For debugging */
	/* color: red !important; */
}

/* Show PR reviews on mobile */
/* Info: https://github.com/refined-github/refined-github/issues/9074 */
/* Test (no CI checks): https://github.com/refined-github/sandbox/pulls?q=is%3Apr+review%3Aapproved */
/* Test: https://github.com/refined-github/refined-github/pulls?q=is%3Apr+review%3Aapproved */
@media (max-width: 768px) {
	.js-issue-row .markdown-title ~ .d-flex {
		flex-direction: column;

		.d-md-inline-flex {
			display: inline-flex !important;
			/* Hide [•] 1 review approval*/
			font-size: 0;
			a {
				font-size: 12px;
			}
			.ml-1 {
				margin-left: 0 !important;
			}
		}
	}
}

/* Untruncate long asset name */
/* Info: https://github.com/refined-github/refined-github/issues/9184 */
/* Test: https://github.com/hkint/xiaomi-ax3000t-immortalwrt-hanwckf-firmware-build/releases/tag/ImmortalWrt_2024.11.13-0026 */
.col-12.col-lg-6:has(.octicon-package + a[href*='/releases/download/']) {
	width: 100%;
	.Truncate-text.text-bold {
		white-space: wrap;
	}
}
