:host {
	font-size: 2em;
	display: grid;
	place-items: center;
	min-height: 100vh;
}

h1 {
	font-size: 1.5em;
	font-weight: 200;
}

h2 {
	font-size: 1em;
	font-weight: 200;
}

ul {
	padding-left: 0;
	list-style: none;
}

a,
button {
	all: initial;
	font: inherit;
	text-decoration: underline;
	color: cornflowerblue;
	cursor: pointer;
}

.hidden-link {
	color: inherit;
}

input {
	font-size: inherit;
}

li {
	margin-block: 1em;
	padding-left: 1.8em;
}

main {
	transition: opacity 1s;
	margin-bottom: 2em;
	background: #0d1116;
	border-radius: 6px;
	width: 400px;
	padding: 0 30px;
	border: solid 1px #3d444d;
}

li::before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	vertical-align: -0.2em;
	margin-right: 0.8em;
	margin-left: -1.8em; /* Pull out */
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" fill="gray" d="M8 5.5a2.5 2.5 0 100 5 2.5 2.5 0 000-5zM4 8a4 4 0 118 0 4 4 0 01-8 0z"></path></svg>');
	background-size: contain;
}

li.valid::before {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" fill="%2328a745" d="M8 16A8 8 0 108 0a8 8 0 000 16zm3.78-9.72a.75.75 0 00-1.06-1.06L6.75 9.19 5.28 7.72a.75.75 0 00-1.06 1.06l2 2a.75.75 0 001.06 0l4.5-4.5z"></path></svg>');
}

.will-show {
	animation: fade-in 0.5s;
	animation-play-state: paused;
}

.will-show.visible {
	animation-play-state: running;
}

.dimmed {
	opacity: 40%;
}

.error {
	color: #cf222e;
	font-size: 0.8em;
}

@keyframes fade-in {
	from {
		opacity: 0%;
	}
}

input {
	background: #151b23;
	border: solid 1px #3d444d;
	border-radius: 6px;
	padding: 5px 12px;
	font-size: 14px;
	line-height: 20px;
	margin-left: 0.5em;
}

input:focus {
	background: #0d1117;
	border-color: #1f6feb;
	outline: none;
}
