name: Conversations

on:
  pull_request_target:
    types:
      - opened
      - edited
  issues:
    types:
      - opened
      - edited

jobs:
  format:
    name: Format Title
    permissions:
      pull-requests: write
      issues: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: fregante/keyword-formatter-action@v1
        with:
          token: ${{ github.token }}
          keywords-path: source/features
