name: Test

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master
      - 'test/*'

jobs:

  Security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npx lockfile-lint --path package-lock.json --validate-https

  AVA:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      - run: npm ci
      - run: npm run ava -- --serial

  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run lint

  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run build
      - uses: actions/upload-artifact@v1
        with:
          name: refined-github
          path: distribution
  Safari:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run build
      - uses: maxim-lobanov/setup-xcode@v1
      - run: npm run pack:safari
